{% extends 'base.html.twig' %}

{% import _self as macro %}

{% macro connectionRequestRow(connectionRequest, inputName, isChecked) %}
    <div class="col-md-6 col-sm-6">
        <div class="testimonial-content t-one">
            <h4>
                <img
                    style="width:50px"
                    src="{% if connectionRequest.user.profilePicture -%}
                            {{ connectionRequest.user.profilePicture }}
                        {%- else -%}
                            {{ asset('/images/user.png') }}
                        {%- endif %}"
                    alt=""
                    class="img-responsive img-circle"
                    data-toggle="popover"
                    data-trigger="hover"
                    title="{{ connectionRequest.user.name }}"
                    data-html="true"
                    data-content="<strong>Från:</strong> {{ connectionRequest.user.from|country_name }}<br>
                    <strong>Antal kopplingar:</strong> {{ connectionRequest.user.connections|length }}<br>
                    <strong>Om:</strong> {{ connectionRequest.user.about }}"
                    data-placement="top"
                /><a
                    href="{{ path('admin_user', {'id': connectionRequest.user.id}) }}"
                >{{ connectionRequest.user.name }}</a>
                <span>{{ connectionRequest.user.gender }}, {{ connectionRequest.user.age }} år</span>
            </h4>
            <blockquote class="{% if connectionRequest.user.internalComment %}br-orange{% else %}br-green{% endif %}">
                <p>
                    <input name="{{ inputName }}" value="{{ connectionRequest.id }}" type="radio"
                        {% if isChecked %}checked="checked"{% endif %}
                        data-name="{{ connectionRequest.user.name }} ({{ connectionRequest.user.gender }}, {{ connectionRequest.user.age }} år)"
                    >
                    {% for category in connectionRequest.user.categories %}
                        {{ category.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    <br>
                    {{ connectionRequest.createdAt|date('Y-m-d') }}<br>
                    "<em>{{ connectionRequest.comment|nl2br }}</em>"
                </p>
                {% if connectionRequest.user.internalComment %}
                    <p>{{ connectionRequest.user.internalComment }}</p>
                {% endif %}
                <span class="text-right small">
                    <a href="{{ path('admin_connectionrequest', {'id': connectionRequest.id}) }}">Ändra</a>
                </span>

            </blockquote>
        </div>
    </div>
{% endmacro %}

{% block body %}


<div class="inner-page testimonial">
    <div class="container">

            <div class="inner-tab">
                <ul class="nav nav-tabs">
                    {% for loopedCity in cities %}
                        <li{% if loopedCity == city %} class="active"{% endif %}>
                            <a href="{{ path('admin_start', {'id': loopedCity.id}) }}">{{ loopedCity.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        <div class="inner-testimonial row">


            <form method="POST" action="" id="connectionForm">
                <div class="col-md-6 col-sm-6">
                    <h2>Övare</h2>
                    <div class="row">
                        {% for connectionRequest in learners %}
                            {{ macro.connectionRequestRow(connectionRequest, 'learner', loop.first) }}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <h2 style="clear:both">Lärare</h2>
                    <div class="row">
                        {% for connectionRequest in fluentSpeakers %}
                            {{ macro.connectionRequestRow(connectionRequest, 'fluentSpeaker', loop.first) }}
                        {% endfor %}
                    </div>
                </div>

                <p style="clear:both">
                    <input type="submit"
                        {% if learners|length == 0 or fluentSpeakers|length == 0 %}disabled="disabled"{% endif %}
                        class="btn btn-default"
                    >
                </p>

            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('#connectionForm').submit(function (e) {
                if (confirm('Vill du koppla ihop ' + $('input[name=learner]:checked').data('name') + ' och ' + $('input[name=fluentSpeaker]:checked').data('name') + '?')) {
                    return;
                }

                e.preventDefault();
            });
        });
    </script>
{% endblock %}
