{% extends 'base.html.twig' %}

{% import _self as macro %}

{% macro connectionRequestRow(connectionRequest, inputName, isChecked) %}
    <li style="clear:both">
        {% if connectionRequest.user.profilePicture %}
            <img src="{{ connectionRequest.user.profilePicture }}" style="float:left; padding: 0 10px 10px 0">
        {% endif %}
        <input name="{{ inputName }}" value="{{ connectionRequest.id }}" type="radio"
            {% if isChecked %}checked="checked"{% endif %}
        >

        {{ connectionRequest.user.name }}, {{ connectionRequest.city.name }}<br>
        {% for category in connectionRequest.user.categories %}
            {{ category.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
        {% if connectionRequest.comment %}
            <br><em>{{ connectionRequest.comment|nl2br }}</em>
        {% endif %}
    </li>
{% endmacro %}

{% block body %}
    <form method="POST" action="">
        <h2>Vill förbättra svenskan</h2>
        <ul>
        {% for connectionRequest in learners %}
            {{ macro.connectionRequestRow(connectionRequest, 'learner', loop.first) }}
        {% endfor %}
        </ul>

        <h2 style="clear:both">Vill hjälpa någon att förbättra svenskan</h2>
        <ul>
            {% for connectionRequest in fluentSpeakers %}
                {{ macro.connectionRequestRow(connectionRequest, 'fluentSpeaker', loop.first) }}
            {% endfor %}
        </ul>

        <p style="clear:both">
            <input type="submit">
        </p>


    </form>
{% endblock %}
