{% extends 'admin/default/base.html.twig' %}

{% block default_content %}

    <div class="row" style="margin-top: 40px;">
        <h1>{{ 'Pending Connection Request'|trans }}</h1>
        <table id="match-users" class="table table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th id="request_date">{{ 'Date Of Request'|trans }}</th>
                <th id="name">{{ 'Name'|trans }}</th>
                <th id="email">{{ 'Email'|trans }}</th>
                <th id="category">{{ 'Internal Comments'|trans }}</th>
                <th id="action" style="width: 21%">{{ 'Action'|trans }}</th>
            </tr>
            </thead>
            <tbody class="persons-list-body">
                {% for pendingRequest in pendingRequests %}
                    <tr>
                        <td>{{ pendingRequest.createdAt|date('Y-m-d') }}</td>
                        <td>{{ pendingRequest.user.fullName }}</td>
                        <td>{{ pendingRequest.user.email }}</td>
                        <td>{{ pendingRequest.user.internalComment }}</td>
                        <td>
                            <div class="text-right">
                                <a href="{{ path('admin_user', {id: pendingRequest.user.id}) }}" class="btn btn-danger edit-current-profile">{{ 'Edit Profile'|trans }}</a>&nbsp;
                                <a href="{{ path('admin_ajax_connection_request_mark_pending_or_unpending', {id: pendingRequest.id}) }}" class="btn btn-warning btn-unpending">{% if pendingRequest.pending %}{{ 'Remove Pending'|trans }}{% else %}{{ 'Make Pending'|trans }}{% endif %}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'admin2/user/modal.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ajaxStart(function(){
            $('body').block({
                message: '<strong>Loading...</strong>'
            });
        });

        $(document).ajaxStop(function(){
            $('body').unblock();
        });

        $(document).ready(function() {
            var table = $('#match-users').DataTable({
                "paging": false,
                "bInfo": false,
                "pageLength": 100
            });

            $('#match-users').on('click', 'a.btn-unpending', function(e){
                e.preventDefault();
                var $this = $(this);
                $.get($this.attr('href'), function (resp){
                    if (resp.success) {
                        window.location.reload();
                    }
                });
            });
        });
    </script>
{% endblock %}
