{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/fields.html.twig'] %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Edit Profile & Request</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-8">
            <h2>Edit User Profile</h2>
            {{ form_start(form, {action: path('admin_ajax_edit', {id: user.id}), 'id': 'profile-form'}) }}
            <div class="form-group">
                {{ form_label(form.firstName) }}
                <div class="col-sm-6">
                    {{ form_widget(form.firstName) }}
                    {{ form_errors(form.firstName) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.lastName) }}
                <div class="col-sm-6">
                    {{ form_widget(form.lastName) }}
                    {{ form_errors(form.lastName) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.email) }}
                <div class="col-sm-6">
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
            </div>

            {% if not is_granted('ROLE_COMPLETE_USER') %}
                <div class="form-group">
                    {{ form_label(form.city) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.city) }}
                        {{ form_errors(form.city) }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label(form.wantToLearn) }}
                <div class="col-sm-6">
                    {{ form_widget(form.wantToLearn) }}
                    {{ form_errors(form.wantToLearn) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.type) }}
                <div class="col-sm-6 col-md-offset-4">
                    {{ form_widget(form.type) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.categories) }}
                <div class="col-sm-4">
                    {{ form_widget(form.categories) }}
                    {{ form_errors(form.categories) }}
                </div>
                <div class="col-sm-4">
                    {{ form_widget(form.musicCategories) }}
                    {{ form_errors(form.musicCategories) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.about) }}
                <div class="col-sm-8">
                    {{ form_widget(form.about) }}
                    {{ form_errors(form.about) }}
                    <span class="help-block">{{ 'user.form.about.help'|trans }}</span>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.internalComment) }}
                <div class="col-sm-8">
                    {{ form_widget(form.internalComment) }}
                    {{ form_errors(form.internalComment) }}
                    <span class="help-block">{{ 'user.form.internalComment.help'|trans }}</span>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.age) }}
                <div class="col-sm-2">
                    {{ form_widget(form.age) }}
                    {{ form_errors(form.age) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.gender) }}
                <div class="col-sm-2">
                    {{ form_widget(form.gender) }}
                    {{ form_errors(form.gender) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.from) }}
                <div class="col-sm-6">
                    {{ form_widget(form.from) }}
                    {{ form_errors(form.from) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.municipality) }}
                <div class="col-sm-6">
                    {{ form_widget(form.municipality) }}
                    {{ form_errors(form.municipality) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.hasChildren) }}
                <div class="col-sm-6">
                    {{ form_widget(form.hasChildren) }}
                    {{ form_errors(form.hasChildren) }}
                </div>
            </div>

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

        <div class="col-md-4">
            <h2>Edit Connection Request</h2>
            {{ form_start(requestForm, {action: path('admin_ajax_connection_request_edit', {id: request_id}), 'id': 'request-form'}) }}

            <div class="form-group">
                {{ form_label(requestForm.city) }}
                {{ form_widget(requestForm.city) }}
                {{ form_errors(requestForm.city) }}
            </div>

            <div class="form-group">
                {{ form_label(requestForm.comment) }}
                {{ form_widget(requestForm.comment) }}
                {{ form_errors(requestForm.comment) }}
            </div>

            <div class="form-group">
                {{ form_widget(requestForm.type) }}
                {{ form_errors(requestForm.type) }}
            </div>
            {{ form_rest(form) }}
            <div class="text-right">
                <button type="button" class="btn btn-default btn-save-request">{{ 'Save request (NOT profile!)'|trans }}</button>
            </div>
            {{ form_end(requestForm) }}
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-6 text-left">
        <button type="button" class="btn btn-danger btn-delete-request" data-url="{{ path('admin_ajax_connection_request_delete', {'id': request_id}) }}">Delete connection request</button>
    </div>
    <div class="col-md-6 text-right">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
        <button type="button" class="btn btn-default btn-save-profile">{{ 'Save user profile'|trans }}</button>
    </div>
</div>
