<form class="form-horizontal current-profile-form">
    <div class="col-md-5">
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'Name'|trans }}</label>
            <div class="col-sm-10">
                <div class="form-control" id="fullName">{{ user.fullName }}&nbsp;({{ user.genderName|trans }})</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'Email'|trans }}</label>
            <div class="col-sm-10">
                <div class="form-control" id="email">{{ user.email }}</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'Age'|trans }}</label>
            <div class="col-sm-10">
                <div class="form-control" id="age">{{ user.age }}</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'Category'|trans }}</label>
            <div class="col-sm-10">
                <div class="form-control" id="type">{{ want_to_learn_name(user.wantToLearn) }}</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Newly arrived</label>
            <div class="col-sm-10">
                <div class="form-control" id="type">{{ user.newlyArrived ? 'yes'|trans : 'no'|trans}}</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'Country'|trans }}</label>
            <div class="col-sm-10">
                <div class="form-control" id="countryName">{{ user.countryName }}</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'Area'|trans }}</label>
            <div class="col-sm-10">
                <div class="form-control" id="area">
                    {% if connectionRequest.city %}
                        {{ connectionRequest.city.name }}, {{ google_map_link(user.municipality.name) }}
                    {% endif %}
                    {% if connectionRequest.municipality %}
                        Connection request: {{ google_map_link(connectionRequest.municipality.name) }}
                    {% endif %}
                </div>
            </div>
        </div>
        {% if connectionRequest.municipality %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="form-control">
                    User: {{ google_map_link(user.municipality.name) }}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'Children'|trans }}</label>
            <div class="col-sm-10">
                <div class="form-control" id="hasChildren">{% if user.hasChildren %}Yes{% else %}No{% endif %}</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'Type'|trans }}</label>
            <div class="col-sm-10">
                <div class="form-control" id="musicFriendType">{{ connectionRequest.type|trans }} ({{ connectionRequest.createdAt|date('Y-m-d') }})</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'Request'|trans }}</label>
            <div class="col-sm-10">
                <div class="form-control">{{ ('matching_profile_request.' ~ connectionRequest.matchingProfileRequestType)|trans }}</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'Extra person'|trans }}</label>
            <div class="col-sm-10">
                <div class="form-control">
                    {% if connectionRequest.extraPerson %}
                        Ja, {{ connectionRequest.extraPersonGender|gender }}, {{ ('extra_person.' ~ connectionRequest.extraPersonType)|trans }}
                    {% else %}
                        Nej
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'Match family'|trans }}</label>
            <div class="col-sm-10">
                <div class="form-control">
                    {% if connectionRequest.matchFamily %}
                        Ja
                    {% else %}
                        Nej
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <label class="col-sm-12">{{ 'Interests'|trans }}</label>
            <div class="col-sm-12">
                <div class="form-control textarea" id="interests">{{ user_category_name_string(user) }}</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-12">{{ 'Description'|trans }}</label>
            <div class="col-sm-12">
                <div class="form-control textarea" id="about">{{ user.about|nl2br }}</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-12">{{ 'Internal Comments'|trans }}</label>
            <div class="col-sm-12">
                <div class="form-control textarea" id="internalComment">{{ user.internalComment|raw }}</div>
            </div>
        </div>
    </div>

    {% block edit_profile_buttons %}{% endblock %}
</form>
