<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Kompisbyrån!{% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/rs-settings.css" rel="stylesheet">
    <!--[if IE 8]>
    <link rel="stylesheet" href="/css/rs-settings-ie8.css">
    <![endif]-->
    <link href="/css/jquery.countdown.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!--[if IE]>
    <link rel="stylesheet" href="/css/ie-style.css">
    <![endif]-->
    <link href="/css/custom.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}{% endblock %}
</head>

<body>



<!-- Head Start -->
<div class="nav-head">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <!-- Logo and Head Text -->
                    <div class="logo">
                        <!-- Logo Icon and Heading -->
                        <img src="/images/logo.png" class="img-responsive" alt="" />
                        <span>Kompisbyrån</span>
                    </div>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('homepage') }}">Hem</a></li>
                    <li><a href="{{ path('how_it_works') }}">Bli fikakompis</a></li>
                    <li><a href="{{ path('terms') }}">Villkor</a></li>
                    <li><a href="{{ path('work_with_us') }}">Stöd oss</a></li>
                    <li><a href="{{ path('about') }}">Om oss</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Min profil<span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('settings') }}">Inställningar</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Logga ut</a></li>
                            </ul>
                        <li>


                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Admin<span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('admin_start') }}">Personer att koppla ihop</a></li>
                                    <li><a href="{{ path('admin_connections') }}">Matchade fikakompisar</a></li>
                                </ul>
                            <li>
                        {% endif %}
                    {% else %}
                        {# <li><a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}">Logga in med facebook</a></li> #}
                        <li><a href="{{ path('fos_user_security_login') }}">Logga in</a></li>
                    {% endif %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</div>
<div class="language-choice">
    <a href="{{ app.request.pathinfo }}?_locale=sv">Svenska</a>
    <a href="{{ app.request.pathinfo }}?_locale=en">English</a>
</div>

<!-- Menu Bar End -->

{% if app.session.flashbag.has('info') %}
    <div class="inner-page">
        <div class="container">
            {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="alert alert-info" role="alert">{{ flashMessage }}</div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if app.session.flashbag.has('error') %}
    <div class="inner-page">
        <div class="container">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="page">
    {% block body %}{% endblock %}
</div>
<!-- Footer Start -->

<div class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-sm-10">
                    <div class="footer-widget">
                        <h4><i class="fa fa-users"></i> &nbsp; Om oss</h4>
                        <p>Emma Hammar och Cecilia Holmgren startade Kompisbyrån i januari 2014. Kompisbyrån är en ideell 
                            förening som vill göra det lätt för människor att träffas i vardagen. Genom att kompisfika  
                            skapas kontakt mellan personer som vill träna på att prata svenska och personer som har bott i  
                            Sverige länge. Hittills har tusentals människor från 79 länder träffats genom Kompisbyrån.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5">
                    <div class="footer-widget">
                        <h4><i class="fa fa-phone"></i> &nbsp; Kontakta oss</h4>
                        <p>
                            <span class="mute">E-mail</span>:
                            <a href="mailto:kontakt@kompisbyran.se">kontakt@kompisbyran.se</a><br />
                        </p>
                        <div class="social">
                            <a href="https://www.facebook.com/kompisbyran" class="facebook"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- Footer End -->


<script src="/js/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="/js/bootstrap.min.js"></script>
<!-- jQuery REVOLUTION Slider  -->
<script type="text/javascript" src="/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js"></script>
<!-- jQuery way points -->
<script src="/js/waypoints.min.js"></script>
<!-- Jquery for Countdown Watch -->
<script type="text/javascript" src="/js/jquery.plugin.min.js"></script>
<script type="text/javascript" src="/js/jquery.countdown.min.js"></script>
<!-- Portfolio JS -->
<!-- Pretty Photo, Filter And Isotope JS -->
<script type="text/javascript" src="/js/filter.js"></script>
<script type="text/javascript" src="/js/isotope.js"></script>
<script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
<!-- Respond JS for IE8 -->
<script type="text/javascript" src="/js/respond.min.js"></script>
<!-- HTML5 Support for IE -->
<script type="text/javascript" src="/js/html5shiv.js"></script>
<!-- Custom JS -->
<script type="text/javascript" src="/js/custom.js"></script>

        {% block javascripts %}{% endblock %}
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
    </body>
</html>
