<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Kompisbyrån!{% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />

    {% block metatags %}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Kompisbyrån!" />
    <meta property="og:url" content="http://www.kompisbyran.se"/>
    <meta property="og:image" content="http://www.kompisbyran.se/images/Kompis3.JPG" />
    <meta property="og:description" content="Kompisbyrån hjälper människor att träffa nya kompisar med liknande intressen. Vi skapar kontakt mellan dig som är ny i Sverige och dig som har bott i Sverige länge." />
    {% endblock %}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-51445443-1', 'auto');
        ga('send', 'pageview');

    </script>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/rs-settings.css" rel="stylesheet">
    <!--[if IE 8]>
    <link rel="stylesheet" href="/css/rs-settings-ie8.css">
    <![endif]-->
    <link href="/css/jquery.countdown.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!--[if IE]>
    <link rel="stylesheet" href="/css/ie-style.css">
    <![endif]-->
    <link href="/css/custom.css?v5" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <style type="text/css">
        {% if app.request.locale == 'ar' %}
            body {
                direction: rtl;
            }
        {% endif %}
    </style>
    {% block stylesheets %}{% endblock %}

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '{{ facebook_pixel_id }}');
        fbq('track', 'PageView');
        {% block facebookTrack %}{% endblock %}
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id={{ facebook_pixel_id }}&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body>



<!-- Head Start -->
<div class="nav-head">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <!-- Logo and Head Text -->
                    <div class="logo">
                        <!-- Logo Icon and Heading -->
                        <img src="/images/logo.png?v2" class="img-responsive" alt="Kompisbyrån" />
                    </div>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('homepage') }}">{{'menu.home'|trans}}</a></li>
                    <li><a href="{{ path('how_it_works') }}">{{'menu.fikafriend'|trans}}</a></li>
                    <li><a href="{{ path('musicfriend') }}">{{'menu.musicfriend'|trans}}</a></li>
                    <li><a href="{{ path('startfriend') }}">{{'menu.startfriend'|trans}}</a></li>
                    <li><a href="{{ path('work_with_us') }}">{{'menu.support'|trans}}</a></li>
                    <li><a href="{{ path('about') }}">{{'menu.about'|trans}}</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                {{'menu.profile'|trans}}<span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('settings') }}">{{'menu.settings'|trans}}</a></li>
                                {% for municipality in app.user.adminMunicipalities %}
                                    <li><a href="{{ path('pre_matches', {'id': municipality.id}) }}">{{ municipality.name }}</a></li>
                                {% endfor %}
                                <li><a href="{{ path('fos_user_security_logout') }}">{{'menu.signout'|trans}}</a></li>
                            </ul>
                        <li>


                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Admin<span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('admin_start') }}">Admin start</a></li>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <li><a href="{{ path('admin_user_priviledges') }}">User Priviledges</a></li>
                                        <li><a href="{{ path('admin_municipality_administrators') }}">Kommunadministratörer</a></li>
                                        <li><a href="{{ path('admin_users') }}">Användare</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('admin_connections') }}">Matchade kompisar</a></li>
                                    <li><a href="{{ path('admin_statistics') }}">Statistik</a></li>
                                </ul>
                            <li>
                        {% endif %}
                    {% else %}
                        {# <li><a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}">{{'menu.signin.fb'|trans}}</a></li> #}
                        <li><a href="{{ path('fos_user_security_login') }}">{{'menu.signin'|trans}}</a></li>
                    {% endif %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</div>
<div class="language-choice">
    <a href="{{ app.request.pathinfo }}?_locale=sv">Svenska</a>
    <a href="{{ app.request.pathinfo }}?_locale=en">English</a>
    <a href="{{ app.request.pathinfo }}?_locale=ar">العربية</a>
</div>

<!-- Menu Bar End -->

{% if app.session.flashbag.has('info') %}
    <div class="inner-page">
        <div class="container">
            {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="alert alert-info" role="alert">{{ flashMessage }}</div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if app.session.flashbag.has('error') %}
    <div class="inner-page">
        <div class="container">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="page">
    {% block body %}{% endblock %}
</div>

<!-- Footer Start -->
{% block footer %}
<div class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-sm-10">
                    <div class="footer-widget">
                        <h4><i class="fa fa-users"></i> &nbsp; {{'menu.about'|trans}}</h4>
                        <p>
                            {{ 'footer.text1'|trans }}
                        </p>
                        <p>
                            {{ 'footer.text2'|trans({'%link%': path('terms')})|raw }}
                        </p>
                        <p>
                            {{ 'footer.text3'|trans }}
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5">
                    <div class="footer-widget">
                        <h4><i class="fa fa-envelope"></i> &nbsp; {{'footer.contact'|trans}}</h4>
                        <p>
                            <span class="mute">E-mail</span>:
                            <a href="mailto:kontakt@kompisbyran.se">kontakt@kompisbyran.se</a><br />
                        </p>
                        <div class="social">
                            <a href="https://www.facebook.com/kompisbyran" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.twitter.com/kompisbyran" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/kompisbyran" class="instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}
<!-- Footer End -->


<script src="/js/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="/js/bootstrap.min.js"></script>
<!-- jQuery REVOLUTION Slider  -->
<script type="text/javascript" src="/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js"></script>
<!-- jQuery way points -->
<script src="/js/waypoints.min.js"></script>
<!-- Jquery for Countdown Watch -->
<script type="text/javascript" src="/js/jquery.plugin.min.js"></script>
<script type="text/javascript" src="/js/jquery.countdown.min.js"></script>
<!-- Portfolio JS -->
<!-- Pretty Photo, Filter And Isotope JS -->
<script type="text/javascript" src="/js/filter.js"></script>
<script type="text/javascript" src="/js/isotope.js"></script>
<script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
<!-- Respond JS for IE8 -->
<script type="text/javascript" src="/js/respond.min.js"></script>
<!-- HTML5 Support for IE -->
<script type="text/javascript" src="/js/html5shiv.js"></script>
<!-- Custom JS -->
<script type="text/javascript" src="/js/custom.js"></script>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

        {% block javascripts %}{% endblock %}
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
    </body>
</html>
