<div class="cta--music">
    <div class="container">
        <div class="cta--music__item">
            <div class="row">
                
				<div class="col-md-12 col-sm-12">
                    <h2>{{ 'homepage.cta.musicfriend.header'|trans }}<br /><strong>{{ 'homepage.cta.musicfriend.header.strong'|trans }}</strong></h2>
                    <p>
                        <strong>{{ 'homepage.cta.musicfriend.message.strong'|trans }}</strong> {{ 'homepage.cta.musicfriend.message'|trans }}
                    </p>
                    <div class="caption">
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg br-orange">
                        	{{ 'homepage.cta.musicfriend.button'|trans }}
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

