<div class="cta">
    <div class="container">

        <div class="cta-item">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h2>{{ 'homepage.cta.start.header'|trans }}<br /><strong>{{ 'homepage.cta.start.header.strong'|trans }}</strong></h2>
                    <p>
                        {{ 'homepage.cta.start.message'|trans|raw }}
                    </p>
                    <div class="caption">
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg br-orange">
                            <i class="fa fa-users"></i> {{ 'homepage.cta.start.button'|trans }}
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <img src="/images/cta_start.jpg" class="img-responsive" alt="Start" />
                </div>
            </div>
        </div>
    </div>
</div>
