{% extends 'base.html.twig' %}

{% block body %}

    <div class="inner-page about-us">
        <div class="container">
            <h2><strong>{{ 'header'|trans({}, 'danderyd') }}</strong><br><span>{{ 'sub_header'|trans({}, 'danderyd') }}</span></h2>
            <p>{{ 'intro'|trans({}, 'danderyd') }}</p>
        </div>
    </div>

    <div class="cta">
        <div class="container">
            <div class="cta-item">
                <div class="row">
                    <div class="col-md-6 col-sm-6">

                        <h2>{{ 'cta.header'|trans({}, 'danderyd') }}</h2>
                        <p>{{ 'cta.intro'|trans({}, 'danderyd') }}</p>
                        <div class="caption">
                            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg br-orange">
                                <i class="fa fa-users"></i> {{ 'button'|trans({}, 'danderyd') }}
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img src="{{ asset('images/danderyd.jpg') }}" class="img-responsive" alt="" />
                    </div>
                </div>
            </div>

            <h2>{{ 'header2'|trans({}, 'danderyd') }}</h2>
            <p>{{ 'text'|trans({}, 'danderyd')|raw }}</p>

            <div class="row" style="margin-top:60px;">
                <div class="col-md-6 col-sm-6">
                    {{ 'footer'|trans({}, 'danderyd') }}
                </div>
                <div class="col-md-6 col-sm-6 text-right">
                    <img src="{{ asset('images/danderyd-logo.jpg') }}" width="200" alt="Danderyd kommun" />

                    <img src="{{ asset('images/alla-tillsammans-i-danderyd.jpg') }}"  width="150" alt="Alla tillsammans i Danderyd" style="margin-left:50px;" />
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $('#button').attr('disabled', true);
        $(document).ready(function() {
            $('#termsAccepted').on('change', function() {
                if ($(this).prop('checked')) {
                    $('#button').attr('disabled', false);
                } else {
                    $('#button').attr('disabled', true);
                }
            });
        });
    </script>
{% endblock %}
