{% extends 'base.html.twig' %}

{% import _self as macro %}

{% macro connectionRow(connection) %}
    <li>
        <strong>{{ connection.createdAt|date('Y-m-d H:i') }}, {{ connection.city.name }}</strong><br>
        Lärare: {{ connection.learner.name }}
        Elev: {{ connection.fluentSpeaker.name }}
    </li>
{% endmacro %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <h2>Så här går det till</h2>
                        <ol>
                            <li>
                                Vi matchar ihop dig med en ny kompis ur vårt nätverk. Vi kan också komma att lägga upp
                                kort information om dig på vår Facebooksida för att hitta en ny kompis. (Vi lägger
                                aldrig ut kontaktuppgifter offentligt, de skickas endast till den personen som matchas
                                ihop med dig.)
                            </li>
                            <li>
                                Du hör av dig till din nya fikakompis och bokar in en fika inom en vecka från det att
                                matchningen gjorts. Ni bestämmer gemensamt datum, tid och plats men det ska vara på ett
                                offentligt ställe i cirka 1 timme. Det går jättebra att ta med en extra kompis till
                                fikan, både som vill öva eller lära ut svenska, så berätta för varandra hur ni vill
                                göra.
                            </li>
                        </ol>

                        <p>
                            Utgångspunkten är att en kompisfika sker en gång. Vill du fika igen loggar du in på ditt
                            konto och anmäler dig igen, så matchar vi ihop dig på nytt!
                        </p>
                        <p>
                            Observera att fikan äger rum i Stockholm (om ni inte kommer överens om annat sker fikan i
                            centrala Stockholm).
                        </p>
                        <p>
                            Här till höger ser du dina tidigare kompisfikor och om du har anmält att du vill kompisfika
                            igen.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4">

                        {% if app.user.fluentSpeakerConnections|length > 0 %}
                            <h2>FluentSpeaker</h2>
                            <ul>
                                {% for connection in app.user.fluentSpeakerConnections %}
                                    {{ macro.connectionRow(connection) }}
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if app.user.learnerConnections|length > 0 %}
                            <h2>Learner</h2>
                            <ul>
                                {% for connection in app.user.learnerConnections %}
                                    {{ macro.connectionRow(connection) }}
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <h2>Connection requests</h2>
                        {% if app.user.connectionRequests|length %}
                            <ul>
                                {% for connectionRequest in app.user.connectionRequests %}
                                    <li>
                                        {{ connectionRequest.createdAt|date('Y-m-d H:i') }}, {{ connectionRequest.city.name }}
                                        {% if connectionRequest.wantToLearn %}
                                            Du vill förbättra din svenska
                                        {% else %}
                                            Du vill hjälpa någon att förbättra sin svenska
                                        {% endif %}
                                        {% if connectionRequest.comment %}
                                            <br>{{ connectionRequest.comment }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h2>Anmäl intresse</h2>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                        <input type="submit" value="Skicka">
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {{ include('default/notLoggedIn.html.twig') }}
    {% endif %}
{% endblock %}
