{% extends 'base.html.twig' %}

{% import _self as macro %}

{% macro connectionRow(connection) %}
    <li>
        <strong>{{ connection.createdAt|date('Y-m-d H:i') }}, {{ connection.city.name }}</strong><br>
        Kompis: {% if connection.learner != app.user %}
            {{ connection.learner.name }}
        {% else %}
            {{ connection.fluentSpeaker.name }}
        {% endif %}
    </li>
{% endmacro %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">

                        <h2>Kul att du vill kompisfika</h2>
                        <p>
                            Här hittar du alla dina tidigare fikor och kan även anmäla dig
                            för att kompisfika. Vill du ändra uppgifter i din ansökan gör du det enkelt själv genom att
                            trycka på “Min ansökan” i menyraden.
                        </p>

                        <p>
                            Utgångspunkten är att en kompisfika sker en gång. Vill du fika igen loggar du in på ditt
                            konto och anmäler dig igen, så matchar vi ihop dig på nytt!
                        </p>
                        <p>
                            Observera att fikan äger rum i Stockholm (om ni inte kommer överens om annat sker fikan i
                            centrala Stockholm).
                        </p>
                        <p>
                            Här ser du även dina tidigare kompisfikor och om du har anmält att du vill kompisfika igen.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4">

                        <h2>Tidigare kompisfikor</h2>
                        {% if app.user.fluentSpeakerConnections|length > 0 %}
                            <ul>
                                {% for connection in app.user.fluentSpeakerConnections %}
                                    {{ macro.connectionRow(connection) }}
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if app.user.learnerConnections|length > 0 %}
                            <ul>
                                {% for connection in app.user.learnerConnections %}
                                    {{ macro.connectionRow(connection) }}
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <h2>Intresseanmälningar</h2>
                        {% if app.user.connectionRequests|length %}
                            <ul>
                                {% for connectionRequest in app.user.connectionRequests %}
                                    <li>
                                        {{ connectionRequest.createdAt|date('Y-m-d H:i') }},
                                        {{ connectionRequest.city.name }}<br>
                                        {% if connectionRequest.wantToLearn %}
                                            Du vill förbättra din svenska
                                        {% else %}
                                            Du vill hjälpa någon att förbättra sin svenska
                                        {% endif %}
                                        {% if connectionRequest.comment %}
                                            <br>{{ connectionRequest.comment }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h2>Jag vill kompisfika igen</h2>
                        <p>
                            Här anmäler du dig om du vill kompisfika igen. Fyll i stad och tryck på “Kompisfika” så har
                            du anmält dig på nytt. Du får då ett bekräftelsemail till din e-postadress du har
                            registrerat. Om du vill ändra din ansökan trycker du på “Min profil” i menyn.
                        </p>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                        <input type="submit" value="Kompisfika" class="btn btn-default">
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {{ include('default/notLoggedIn.html.twig') }}
    {% endif %}
{% endblock %}
