{% extends 'base.html.twig' %}

{% import _self as macro %}

{% macro connectionRow(connection) %}
    <li>
        <strong>{{ connection.createdAt|date('Y-m-d H:i') }}, {{ connection.city.name }}</strong><br>
        Kompis: {% if connection.learner != app.user %}
            {{ connection.learner.name }}
        {% else %}
            {{ connection.fluentSpeaker.name }}
        {% endif %}
    </li>
{% endmacro %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">

                        <h2>{{ 'index.header'|trans }}</h2>
                        {{ 'index.intro'|trans|nl2br }}
                    </div>
                    <div class="col-md-4 col-sm-4">

                        <h2>{{ 'index.previous.header'|trans }}</h2>
                        {% if app.user.fluentSpeakerConnections|length > 0 %}
                            <ul>
                                {% for connection in app.user.fluentSpeakerConnections %}
                                    {{ macro.connectionRow(connection) }}
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if app.user.learnerConnections|length > 0 %}
                            <ul>
                                {% for connection in app.user.learnerConnections %}
                                    {{ macro.connectionRow(connection) }}
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <h2>{{ 'index.connection_request.header'|trans }}</h2>
                        {% if app.user.connectionRequests|length %}
                            <ul>
                                {% for connectionRequest in app.user.connectionRequests %}
                                    <li>
                                        {{ connectionRequest.createdAt|date('Y-m-d H:i') }},
                                        {{ connectionRequest.city.name }}<br>
                                        {% if connectionRequest.wantToLearn %}
                                            {{ 'index.connection_request.want_to_learn.learn'|trans }}
                                        {% else %}
                                            {{ 'index.connection_request.want_to_learn.teach'|trans }}
                                        {% endif %}
                                        {% if connectionRequest.comment %}
                                            <br>{{ connectionRequest.comment }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h2>{{ 'index.again.header'|trans }}</h2>
                        <p>{{ 'index.again.intro'|trans }}</p>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                        <input type="submit" value="{{ 'connection_request.form.button'|trans }}" class="btn btn-default">
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {{ include('default/notLoggedIn.html.twig') }}
    {% endif %}
{% endblock %}
