{% extends 'base.html.twig' %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% form_theme form 'form/fields.html.twig' %}
{% endif %}
{% import _self as macro %}

{% macro connectionRow(connection) %}
    <li>
        <strong>
            {{ connection.createdAt|date('Y-m-d H:i') }},
            {{ connection.city ? connection.city.name }}
            {{ connection.municipality ? connection.municipality.name }}
        </strong><br>
        Kompis: {% if connection.learner != app.user %}
            {{ connection.learner.name }}
        {% else %}
            {{ connection.fluentSpeaker.name }}
        {% endif %}
    </li>
{% endmacro %}

{% block facebookTrack %}
    {% if newUser is defined and newUser%}
        fbq('track', 'CompleteRegistration');
    {% endif %}
{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3">

                        <h2>{{ 'index.header'|trans }}</h2>
                        {{ 'index.intro'|trans|nl2br }}
                    </div>
                    <div class="col-md-3 col-sm-3">

                        <h2>{{ 'index.previous.header'|trans }}</h2>
                        {% if app.user.fluentSpeakerConnections|length > 0 %}
                            <ul>
                                {% for connection in app.user.fluentSpeakerConnections %}
                                    {{ macro.connectionRow(connection) }}
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if app.user.learnerConnections|length > 0 %}
                            <ul>
                                {% for connection in app.user.learnerConnections %}
                                    {{ macro.connectionRow(connection) }}
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <h2>{{ 'index.connection_request.header'|trans }}</h2>
                        {% if connectionRequest %}
                            <ul>
                                    <li>
                                        {{ connectionRequest.createdAt|date('Y-m-d H:i') }},
                                        {% if connectionRequest.city %}
                                            {{ connectionRequest.city.name }}<br>
                                        {% endif %}
                                        {% if connectionRequest.municipality %}
                                            {{ connectionRequest.municipality.name }}<br>
                                        {% endif %}
                                        {% if connectionRequest.wantToLearn %}
                                            {{ 'index.connection_request.want_to_learn.learn'|trans }}
                                        {% else %}
                                            {{ 'index.connection_request.want_to_learn.teach'|trans }}
                                        {% endif %}
                                    </li>
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h2>{{ 'index.again.header'|trans }}</h2>
                        <p>{{ 'index.again.intro'|trans }}</p>
                        {% if connectionRequest %}
                            <div class="alert alert-info" role="alert">
                                {% if connectionRequest.pending %}
                                    {{ 'error.pending_request'|trans }}
                                {% else %}
                                    {{ 'error.active_request'|trans }}
                                {% endif %}
                            </div>
                        {% else %}
                            {{ include(':user:form.html.twig') }}
                            <input type="submit" value="{{ 'connection_request.form.button'|trans }}" class="btn btn-default">
                            {{ form_end(form) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {{ include('default/notLoggedIn.html.twig') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
<script type="text/javascript">
    {{ include(':user:form.js.twig') }}
</script>
    {% endif %}
{% endblock %}
