<div class="inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <img src="/images/Kompis3.JPG" class="img-responsive" alt="Emma och Cecilia" />
                <h1>{{ 'homepage.cta.header'|trans }}<br /><strong>{{ 'homepage.cta.header.strong'|trans }}</strong></h1>
                <p>
                    {{ 'homepage.cta.message'|trans|raw }}
                </p>
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg btn-orange btn-super-lg">
                    {{ 'homepage.cta.button'|trans }}
                </a>
                <br><br>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 3em;">
    <h2 class="text-center">Kompisbyran på Instagram</h2>
    <div class="row" style="margin-top: 3em;">
        {% for instagramImage in instagramImages %}
        <div class="col-md-4 col-sm-4" >
            <img src="{{ instagramImage.profilePicture }}" alt="{{ instagramImage.username }}" class="img-circle{% if instagramImage.location %} pull-left{% endif %}" style="width: 50px; margin-right: 1em;">
            <strong>{{ instagramImage.username }}</strong> <a href="https://www.instagram.com/{{ instagramImage.username }}">Följ</a>
            {% if instagramImage.location %}
                <br>{{ instagramImage.location }}
            {% endif %}
            <img src="{{ instagramImage.imageUrl }}" class="img-responsive" style="margin-top:1em;">
            <strong>{{ instagramImage.username }}</strong> {{ instagramImage.caption }}
        </div>
        {% endfor %}
    </div>
</div>

