<div class="inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <img src="/images/Kompis3.JPG" class="img-responsive" alt="Emma och Cecilia" />
                <h1>{{ 'homepage.cta.header'|trans }}<br /><strong>{{ 'homepage.cta.header.strong'|trans }}</strong></h1>
                <p>
                    {{ 'homepage.cta.message'|trans|raw }}
                </p>
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg btn-orange btn-super-lg">
                    <i class="fa fa-users"></i> {{ 'homepage.cta.button'|trans }}
                </a>
                <br><br>
            </div>
        </div>
    </div>
</div>

<!-- Inner Page Heading -->
<div class="testimonial">
    <div class="container">
        <div class="inner-testimonial">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <!-- testimonial content -->
                    <div class="testimonial-content t-one">
                        <!-- User's image , name and designation -->
                        <h4><img src="/images/testimonials/dorry-mahlin.jpg" alt="" class="img-responsive img-circle"/>Dorry och Mahin</h4>
                        <!-- User's comment -->
                        <blockquote class="br-orange">
                            <p>
                                Hej!<br>
                                Här kommer en hälsning från Mahin och mig! Vi hade en mycket trevlig fikastund idag och har bestämt att vi ska ses snart igen! Bra matchning vad gäller våra intressen!
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <!-- testimonial content -->
                    <div class="testimonial-content t-two">
                        <!-- User's image , name and designation -->
                        <h4><img src="/images/testimonials/amanda-gurbet.jpg" alt="" class="img-responsive img-circle"/>Amanda och Gurbet</h4>
                        <!-- User's comment -->
                        <blockquote class="br-orange">
                            <p>
                                Idag fikade jag med Gurbet genom Kompisbyrån. Hon har varit här i 5 månader och är redan en fena på svenska. Vi pratade om allt möjligt, situationen för kurder i Turkiet, familj, tårtor och att vi ska träffas snart igen!<br>
                                Tack för bra initiativ! 
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <!-- testimonial content -->
                    <div class="testimonial-content t-three">
                        <!-- User's image , name and designation -->
                        <h4><img src="/images/testimonials/johannes-massod.jpg" alt="" class="img-responsive img-circle"/>Johannes och Massod</h4>
                        <!-- User's comment -->
                        <blockquote class="br-orange">
                            <p>
                                Nu har jag och Massod fikat, vi sågs på Kulturhuset och drack kaffe. Vi pratade om matlagning, religion och våra båda hemländer. Mycket trevligt!
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

