{% extends "FOSUserBundle::layout.html.twig" %}
{% form_theme form _self %}

{% block _fos_user_registration_form_termsAccepted_widget %}
    <label>
        <input type="checkbox" {{ block('widget_attributes') }} />
        {{ 'register.form.terms'|trans({'%linkStart%': '<a href="' ~ path('terms') ~ '">', '%linkEnd%': '</a>'})|raw }}
    </label>
{% endblock %}

{% block body %}
    <div class="inner-page sign">
        <div class="container">
            <div class="sign-content">

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <!-- Sign In Area -->
                        <div class="sign-in">
                            <h3><i class="fa fa-user orange"></i> &nbsp;{{ 'register.create.header'|trans }}</h3>

                            <p>
                                {{ 'register.create.intro'|trans }}
                            </p>
                            <br>
                            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">

                                <div class="form-group">
                                    <label for="email" class="col-lg-3 control-label">{{ 'register.form.email'|trans }}</label>

                                    <div class="col-lg-9">
                                        {{ form_widget(form.email) }}
                                    </div>
                                    {{ form_errors(form.email) }}
                                </div>

                                <div class="form-group">
                                    <label for="password" class="col-lg-3 control-label">{{ 'register.form.password'|trans }}</label>

                                    <div class="col-lg-9">
                                        {{ form_widget(form.plainPassword.first) }}
                                    </div>
                                    {{ form_errors(form.plainPassword.first) }}
                                </div>

                                <div class="form-group">
                                    <label for="password" class="col-lg-3 control-label">{{ 'register.form.password_confirmation'|trans }}</label>

                                    <div class="col-lg-9">
                                        {{ form_widget(form.plainPassword.second) }}
                                    </div>
                                    {{ form_errors(form.plainPassword.second) }}
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-9">
                                        {{ form_widget(form.termsAccepted) }}
                                    </div>
                                    {{ form_errors(form.termsAccepted) }}
                                </div>

                                {{ form_rest(form) }}

                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-9">
                                        <button type="submit" class="btn btn-info">{{ 'register.form.button'|trans }}</button>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="sign-in">
                            <h3><i class="fa fa-user orange"></i> &nbsp;{{ 'register.login.header'|trans }}</h3>
                            <p>{{ 'register.login.intro'|trans }}</p>
                            <br>
                            {{ render(controller('FOSUserBundle:Security:login')) }}
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h4>{{ 'register.how_it_works.header'|trans }}</h4>
                        {{ 'register.how_it_works.text'|trans({'%termsPath%': path('terms')})|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


