{% extends "FOSUserBundle::layout.html.twig" %}
{% form_theme form _self %}

{% block _fos_user_registration_form_termsAccepted_widget %}
    <label>
        <input type="checkbox" {{ block('widget_attributes') }} />
        Jag godkänner <a href="{{ path('terms') }}">villkoren</a>
    </label>
{% endblock %}

{% block body %}
    <div class="inner-page sign">
        <div class="container">
            <div class="sign-content">

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <!-- Sign In Area -->
                        <div class="sign-in">
                            <h3><i class="fa fa-user red"></i> &nbsp;Skapa ett konto</h3>

                            <p>
                                För att kompisfika måste du först registrera dig genom att fylla i din e-postadress och
                                valfritt lösenord.
                            </p>
                            <br>
                            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">

                                <div class="form-group">
                                    <label for="email" class="col-lg-3 control-label">E-postadress</label>

                                    <div class="col-lg-9">
                                        {{ form_widget(form.email) }}
                                    </div>
                                    {{ form_errors(form.email) }}
                                </div>

                                <div class="form-group">
                                    <label for="password" class="col-lg-3 control-label">{{ 'form.password'|trans({}, 'FOSUserBundle') }}</label>

                                    <div class="col-lg-9">
                                        {{ form_widget(form.plainPassword.first) }}
                                    </div>
                                    {{ form_errors(form.plainPassword.first) }}
                                </div>

                                <div class="form-group">
                                    <label for="password" class="col-lg-3 control-label">{{ 'form.password_confirmation'|trans({}, 'FOSUserBundle') }}</label>

                                    <div class="col-lg-9">
                                        {{ form_widget(form.plainPassword.second) }}
                                    </div>
                                    {{ form_errors(form.plainPassword.second) }}
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-9">
                                        {{ form_widget(form.termsAccepted) }}
                                    </div>
                                    {{ form_errors(form.termsAccepted) }}
                                </div>

                                {{ form_rest(form) }}

                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-9">
                                        <button type="submit" class="btn btn-info">Skapa konto</button>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="sign-in">
                            <h3><i class="fa fa-user red"></i> &nbsp;Logga in</h3>
                            <p>Har du redan ett konto loggar du in här.</p>
                            <br>
                            {{ render(controller('FOSUserBundle:Security:login')) }}
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-6">

                        <h4>
                            Stegen till att lära känna en ny kompis – vare sig du vill förbättra din svenska eller
                            hjälpa någon med att förbättra den – är enkla.
                        </h4>
                        <ol>
                            <li>
                                Är det första gången du ska kompisfika? Skapa ett konto genom att fylla i din
                                e-postadress, ett lösenord du bestämmer själv och tryck “Skapa konto”. Läs igenom
                                Kompisbyråns <a href="{{ path('terms') }}">villkor</a> innan du anmäler dig.
                            </li>
                            <li>
                                Du slussas nu vidare till ett formulär där du berättar lite om dig själv.
                            </li>
                            <li>
                                Nu har du anmält dig till att kompisfika! Vi kommer att höra av oss till dig via mail så
                                fort vi har hittat en ny matchning. Du får då e-postadressen till din nya fikakompis och
                                kontaktar personen inom en vecka från att matchning har gjorts. Ni bestämmer var och när
                                ni ska ses, men vi vill att ni träffas på ett offentligt kafé i ca 1 timme. Det är
                                gratis att vara med och länkas ihop av Kompisbyrån.
                            </li>
                            <li>
                                Om du redan har ett konto loggar du in och anmäler dig till en ny kompisfika på din
                                profilsida.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


