{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="form-group">
    {{ form_label(form.firstName) }}
    <div class="col-sm-4">
        {{ form_widget(form.firstName) }}
        {{ form_errors(form.firstName) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.lastName) }}
    <div class="col-sm-4">
        {{ form_widget(form.lastName) }}
        {{ form_errors(form.lastName) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.age) }}
    <div class="col-sm-2">
        {{ form_widget(form.age) }}
        {{ form_errors(form.age) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.gender) }}
    <div class="col-sm-2 checkableList">
        {{ form_widget(form.gender) }}
        {{ form_errors(form.gender) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.wantToLearn) }}
    <div class="col-sm-8 checkableList">
        {{ form_widget(form.wantToLearn) }}
        {{ form_errors(form.wantToLearn) }}
    </div>
</div>

<div class="form-group hidden" id="newlyArrived">
    <div class="col-lg-4 text-right">
        <label class="control-label required">{{ 'user.form.newly_arrived'|trans }}</label>
        <p>{{ 'user.form.newly_arrived.help'|trans }}</p>
    </div>
    <div class="col-sm-8 checkableList">
        {{ form_widget(form.newlyArrived) }}
        {{ form_errors(form.newlyArrived) }}
    </div>
</div>

<div class="form-group hidden" id="identityNumber">
    <div class="col-lg-4 text-right">
        <label class="control-label required">{{ 'user.form.identity_number'|trans }}</label>
    </div>
    <div class="col-sm-8">
        {{ form_widget(form.identityNumber) }}
        {{ form_errors(form.identityNumber) }}
        <p>{{ 'user.form.identity_number.help'|trans({'%linkStart%': '<a href="' ~ path('terms') ~ '">', '%linkEnd%': '</a>'})|raw }}</p>
    </div>
</div>

<div class="form-group">
    {{ form_label(form.from) }}
    <div class="col-sm-4">
        {{ form_widget(form.from) }}
        {{ form_errors(form.from) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.municipality) }}
    <div class="col-sm-4">
        {{ form_widget(form.municipality) }}
        {{ form_errors(form.municipality) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.type) }}
    <div class="col-sm-8 checkableList">
        {% for type in form.type %}
            {{ form_widget(type, {'label_attr': {'class': 'lead'}}) }}
            <p>{{ ('user.form.type.' ~ type.vars.value ~ '.help')|trans({'%municipalities%': start_friend_municipalities()}) }}</p>
        {% endfor %}
        {{ form_errors(form.type) }}
    </div>
</div>

<div class="form-group">
    <div class="col-lg-4 text-right">
        <label class="control-label required">{{ 'user.form.categories'|trans }}</label>
        <p>{{ 'user.form.categories.help'|trans }}</p>
    </div>

    <div class="col-sm-4 checkableList">
        {{ form_widget(form.categories) }}
        {{ form_errors(form.categories) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.about) }}
    <div class="col-sm-8">
        {{ form_widget(form.about) }}
        {{ form_errors(form.about) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.activities) }}
    <div class="col-sm-8">
        {{ form_widget(form.activities) }}
        {{ form_errors(form.activities) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.occupation) }}
    <div class="col-sm-4">
        {{ form_widget(form.occupation) }}
        {{ form_errors(form.occupation) }}
    </div>
</div>

<div class="col-sm-offset-4" id="occupationDescription">
    <div class="form-group">
        {{ form_label(form.occupationDescription) }}
        <div class="col-sm-8">
            {{ form_widget(form.occupationDescription) }}
            {{ form_errors(form.occupationDescription) }}
        </div>
    </div>
</div>

<div class="form-group">
    {{ form_label(form.education) }}
    <div class="col-sm-8">
        {{ form_widget(form.education) }}
        {{ form_errors(form.education) }}
    </div>
</div>

<div class="col-sm-offset-4" id="educationDescription">
    <div class="form-group">
        {{ form_label(form.educationDescription) }}
        <div class="col-sm-8">
            {{ form_widget(form.educationDescription) }}
            {{ form_errors(form.educationDescription) }}
        </div>
    </div>
</div>

<div class="form-group">
    {{ form_label(form.timeInSweden) }}
    <div class="col-sm-8">
        {{ form_widget(form.timeInSweden) }}
        {{ form_errors(form.timeInSweden) }}
    </div>
</div>

<div class="form-group ">
    {{ form_label(form.hasChildren) }}
    <div class="col-sm-4 checkableList">
        {{ form_widget(form.hasChildren) }}
        {{ form_errors(form.hasChildren) }}
    </div>
</div>

<div class="col-sm-offset-4" id="childrenAge">
    <div class="form-group">
        {{ form_label(form.childrenAge) }}
        <div class="col-sm-8">
            {{ form_widget(form.childrenAge) }}
            {{ form_errors(form.childrenAge) }}
        </div>
    </div>
</div>

<div class="form-group">
    {{ form_label(form.phoneNumber) }}

    <div class="col-sm-8">
        {{ form_widget(form.phoneNumber) }}
        {{ form_errors(form.phoneNumber) }}
    </div>
</div>


<h3 class="music hidden">Om ditt musikintresse</h3>

<div class="form-group music hidden">
    <div class="col-lg-4">
        <label class="control-label required">{{ 'user.form.music_categories'|trans }}</label>
        <p class="text-right">{{ 'user.form.music_categories.help'|trans }}</p>
    </div>

    <div class="col-sm-4 checkableList">
        {{ form_widget(form.musicCategories) }}
        {{ form_errors(form.musicCategories) }}
    </div>
</div>

<div class="form-group music hidden">
    {{ form_label(form.aboutMusic) }}
    <div class="col-sm-8">
        {{ form_widget(form.aboutMusic) }}
        {{ form_errors(form.aboutMusic) }}
    </div>
</div>

<div class="form-group music hidden">
    {{ form_label(form.canPlayInstrument) }}
    <div class="col-sm-8">
        {{ form_widget(form.canPlayInstrument) }}
        {{ form_errors(form.canPlayInstrument) }}
    </div>
</div>

<div class="music hidden">
    <div class="col-sm-offset-4" id="aboutInstrument">
        <div class="form-group">
            {{ form_label(form.aboutInstrument) }}
            <div class="col-sm-8">
                {{ form_widget(form.aboutInstrument) }}
                {{ form_errors(form.aboutInstrument) }}
            </div>
        </div>
    </div>
</div>

<div class="form-group music hidden">
    {{ form_label(form.canSing) }}
    <div class="col-sm-8">
        {{ form_widget(form.canSing) }}
        {{ form_errors(form.canSing) }}
    </div>
</div>

<div class="form-group music hidden">
    {{ form_label(form.professionalMusician) }}
    <div class="col-sm-8">
        {{ form_widget(form.professionalMusician) }}
        {{ form_errors(form.professionalMusician) }}
    </div>
</div>

<div class="form-group music hidden">
    {{ form_label(form.musicGenre) }}
    <div class="col-sm-8">
        {{ form_widget(form.musicGenre) }}
        {{ form_errors(form.musicGenre) }}
    </div>
</div>

<div class="form-group start hidden">
    {{ form_label(form.languages) }}
    <div class="col-sm-8">
        {{ form_widget(form.languages) }}
        {{ form_errors(form.languages) }}
    </div>
</div>

{% if form.connectionRequests is defined %}
    {% set connectionRequest = form.connectionRequests[0] %}
    <h3>Om mötet</h3>
    <div class="form-group hidden music friend">
        {{ form_label(connectionRequest.city) }}
        <div class="col-sm-4">
            {{ form_widget(connectionRequest.city) }}
            {{ form_errors(connectionRequest.city) }}
        </div>
    </div>

    <div class="form-group hidden start">
        {{ form_label(connectionRequest.municipality) }}
        <div class="col-sm-4">
            {{ form_widget(connectionRequest.municipality) }}
            {{ form_errors(connectionRequest.municipality) }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-4 control-label">{{ 'connection_request.form.available.day'|trans }}</label>
        <div class="col-sm-8">
            {{ form_widget(connectionRequest.availableWeekday) }}
            {{ form_widget(connectionRequest.availableWeekend) }}

            {{ form_errors(connectionRequest.availableWeekday) }}
            {{ form_errors(connectionRequest.availableWeekend) }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-4 control-label">{{ 'connection_request.form.available.time'|trans }}</label>
        <div class="col-sm-8">
            {{ form_widget(connectionRequest.availableDay) }}
            {{ form_widget(connectionRequest.availableEvening) }}

            {{ form_errors(connectionRequest.availableDay) }}
            {{ form_errors(connectionRequest.availableEvening) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(connectionRequest.extraPerson) }}
        <div class="col-sm-8">
            {{ form_widget(connectionRequest.extraPerson) }}
            {{ form_errors(connectionRequest.extraPerson) }}
        </div>
    </div>

    <div class="col-sm-offset-4" id="extraPerson">
        <div class="form-group">
            {{ form_label(connectionRequest.extraPersonGender) }}
            <div class="col-sm-8">
                {{ form_widget(connectionRequest.extraPersonGender) }}
                {{ form_errors(connectionRequest.extraPersonGender) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(connectionRequest.extraPersonType) }}
            <div class="col-sm-8">
                {{ form_widget(connectionRequest.extraPersonType) }}
                {{ form_errors(connectionRequest.extraPersonType) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(connectionRequest.matchingProfileRequestType) }}
        <div class="col-sm-8">
            {{ form_widget(connectionRequest.matchingProfileRequestType) }}
            {{ form_errors(connectionRequest.matchingProfileRequestType) }}
        </div>
    </div>

    {{ form_widget(connectionRequest) }}
{% endif %}

{% if form.termsAccepted is defined %}
<div class="form-group">
    <div class="col-lg-offset-4 col-lg-8">
        {{ form_widget(form.termsAccepted) }}
    </div>
    {{ form_errors(form.termsAccepted) }}
</div>
{% endif %}

{{ form_widget(form) }}
