{% extends 'base.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block body %}

    <div class="inner-page">
        <div class="container">

            {{ include(':user:form.html.twig') }}

            <div class="form-group">
                    <button type="submit" class="btn btn-default">
                        {% if form.connectionRequests is defined %}
                            {{ 'connection_request.form.button'|trans }}
                        {% else %}
                            {{ 'user.form.button'|trans }}
                        {% endif %}
                    </button>
            </div>
            {{ form_end(form) }}

            <br>
            <p>{{ 'user.settings.delete'|trans }}</p>

            <button id="delete" class="btn btn-danger"><i class="fa fa-warning"></i> {{ 'user.settings.delete.button'|trans }}</button>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    {{ include(':user:form.js.twig') }}

    $(document).ready(function() {
        $('#delete').click(function() {
            if (confirm('{{ 'user.settings.delete.confirm'|trans }}')) {
                $(this).attr('disabled', 'disabled');
                $.ajax({
                    url: Routing.generate('delete'),
                    type: 'DELETE',
                    success: function() {
                        location.href='/logout';
                    }
                });
            }
        });
    });
</script>
{% endblock %}
