{% extends 'base.html.twig' %}

{#% import 'macros.html.twig' as macros %#}

{% import _self as macro %}

{% macro userCell(connection, wantToLearn) %}
    {% if wantToLearn %}
        {% set user = connection.learner %}
        {% set comment = connection.learnerComment %}
    {% else %}
        {% set user = connection.fluentSpeaker %}
        {% set comment = connection.fluentSpeakerComment %}
    {% endif %}
    <strong><a
        href="{{ path('admin_user', {'id': user.id}) }}"
        >{{ user.name }}</a></strong>
    - {{ user.email }}<br>
    <em>{{ comment }}</em><br>
    <a
        href="#"
        class="create-connection-request btn btn-default btn-sm"
        data-user-id="{{ user.id }}"
        data-comment="{{ comment }}"
        data-want-to-learn="{{ wantToLearn ? 1 : 0 }}"
        data-music-friend="{{ connection.musicFriend ? 1 : 0 }}"
        data-city-id="{{ connection.city.id }}"
    >Kompisfika igen</a>

{% endmacro %}

{% block body %}

    <div class="inner-page">
        <div class="container">

            <form method="get" action="" class="form-inline">
                <div class="form-group">
                    <input type="text" name="q" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Sök</button>
            </form>


            <table class="table">
                <thead>
                    <tr>
                        <th>Skapad</th>
                        <th>Lärare</th>
                        <th>Övare</th>
                        <th>Ort</th>
                        <th>Musikompis</th>
                        <th>Skapad av</th>
                    </tr>
                </thead>
                {% for connection in pagerfanta.getCurrentPageResults() %}
                    <tbody>
                        <tr>
                            <td>
                                {{ connection.createdAt|date('Y-m-d H:i') }}

                                    <a href="#"
                                        class="add-comment"
                                        data-connection-id="{{ connection.id }}"
                                        {% if connection.comments|length %}
                                            data-toggle="popover"
                                            data-trigger="hover"
                                            title="Kommentarer"
                                            data-html="true"
                                            data-content="{% for comment in connection.comments -%}
                                                <strong>{{ comment.createdAt|date('Y-m-d H:i') }}</strong><br>
                                                {{ comment.user.name }}<br>
                                                <em>{{ comment.comment }}</em><br>
                                            {%- endfor %}"
                                            data-placement="bottom"
                                        {% endif %}
                                    ><i class="fa fa-comment{% if connection.comments|length == 0 %}-o{% endif %}"></i></a>

                            </td>
                            <td>
                                {{ macro.userCell(connection, false) }}
                            </td>
                            <td>
                                {{ macro.userCell(connection, true) }}
                            </td>
                            <td>{{ connection.city.name }}</td>
                            <td>{% if connection.musicFriend %}&cross;{% endif %}</td>
                            <td>{{ connection.createdBy.name }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>


            <div class="pagerfanta text-right">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('.create-connection-request').click(function (e) {
                e.preventDefault();
                if (confirm('Vill du verkligen skapa en kompisfikaförfrågan?')) {
                    $.ajax({
                        url: '{{ path('admin_create_connectionrequest') }}',
                        type: 'POST',
                        data: {
                            userId: $(this).data('user-id'),
                            comment: $(this).data('comment'),
                            wantToLearn: $(this).data('want-to-learn'),
                            cityId: $(this).data('city-id'),
                            sortOrder: 1,
                            musicFriend: $(this).data('music-friend')
                        },
                        success: function () {
                            location.href='{{ path('admin_start') }}';
                        }
                    });
                }
            });
            $('.add-comment').click(function (e) {
                e.preventDefault();
                var comment = prompt('Skriv en kommentar');
                if (comment != null) {
                    $.ajax({
                        url: '{{ path('admin_add_connection_comment') }}',
                        type: 'POST',
                        data: {
                            comment: comment,
                            connectionId: $(this).data('connection-id')
                        },
                        success: function () {
                            location.href = location.href;
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
