{% extends 'base.html.twig' %}

{% import _self as macro %}

{% macro userCell(connection, wantToLearn) %}
    {% if wantToLearn %}
        {% set user = connection.learner %}
        {% set comment = connection.learnerComment %}
        {% set date = connection.learnerConnectionRequestCreatedAt %}
        {% set meetingStatus = connection.learnerMeetingStatus %}
        {% set meetingStatusEmailSentDates = connection.learnerMeetingStatusEmailSentAtDates %}
        {% set followUpEmailSentDates = connection.learnerFollowUpEmail2SentAtDates %}
        {% set markedAsMetCreatedAt = connection.learnerMarkedAsMetCreatedAt %}
        {% set connectionRequest = connection.learnerConnectionRequest %}
    {% else %}
        {% set user = connection.fluentSpeaker %}
        {% set comment = connection.fluentSpeakerComment %}
        {% set date = connection.fluentSpeakerConnectionRequestCreatedAt %}
        {% set meetingStatus = connection.fluentSpeakerMeetingStatus %}
        {% set meetingStatusEmailSentDates = connection.fluentSpeakerMeetingStatusEmailSentAtDates %}
        {% set followUpEmailSentDates = connection.fluentSpeakerFollowUpEmail2SentAtDates %}
        {% set markedAsMetCreatedAt = connection.fluentSpeakerMarkedAsMetCreatedAt %}
        {% set connectionRequest = connection.fluentSpeakerConnectionRequest %}
    {% endif %}
    <strong><a
        href="{{ path('admin_user', {'id': user.id}) }}"
        >{{ user.name }}</a></strong>
    - {{ user.email }}<br>
    {% if wantToLearn and connection.newlyArrived %}
        <span class="label label-info">Nyanländ</span>
    {% endif %}<br>
    <strong>Mötesstatus:</strong>

    <span class="label label-{{ meetingStatus|meeting_status_color }}">
        <i class="fa fa-{{ meetingStatus|meeting_status_icon }}"></i>
        {{ ('meeting_type.' ~ meetingStatus)|trans }}
    </span><br>

    <strong>Mötet bekräftat:</strong>
    {% if meetingStatus == constant('AppBundle\\Enum\\MeetingTypes::MET') %}
         {{ markedAsMetCreatedAt|date('Y-m-d H:i') }}
    {% endif %}<br>

    <strong>Skickade uppföljningsmejl:</strong>
    {% if meetingStatusEmailSentDates|length == 0 %}
        -
    {% else %}
        {% for date in meetingStatusEmailSentDates %}
            {{ date|date('Y-m-d H:i') }}
            {% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}<br>

    <strong>Skickat avslutande enkätmejl:</strong>
    {% if followUpEmailSentDates|length == 0 %}
        -
    {% else %}
        {% for date in followUpEmailSentDates %}
            {{ date|date('Y-m-d H:i') }}
            {% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}<br>


    <em>{{ comment }}</em><br>
    {% if connection.city %}
        <select name="same-date">
            <option value="1">Samma datum ({{ (connectionRequest ? connectionRequest.createdAt : date)|date('Y-m-d') }})</option>
            <option value="0">Dagens datum</option>
        </select>
        <a
            href="#"
            class="create-connection-request btn btn-default btn-sm"
            data-user-id="{{ user.id }}"
            data-comment="{{ comment }}"
            data-want-to-learn="{{ wantToLearn ? 1 : 0 }}"
            data-type="{{ connection.type }}"
            data-city-id="{{ connection.city.id }}"
            data-date="{{ date|date('Y-m-d H:i:s') }}"
            {% if connectionRequest %}
                data-connection-request-id="{{ connectionRequest.id }}"
            {% endif %}
        >Kompisfika igen {% if not connectionRequest %}(ej fullständiga uppgifter){% endif %}</a>
    {% endif %}
    {% if connection.municipality and connectionRequest %}
        <select name="same-date">
            <option value="1">Samma datum ({{ connectionRequest.createdAt|date('Y-m-d') }})</option>
            <option value="0">Dagens datum</option>
        </select>
        <a
            href="#"
            class="create-connection-request btn btn-default btn-sm"
            data-user-id="{{ user.id }}"
            data-connection-request-id="{{ connectionRequest.id }}"
        >Kompisfika igen</a>
    {% endif %}

    <div class="color: red" style="display: none">
        {{ 'error.active_request'|trans }}
    </div>
{% endmacro %}

{% block body %}

    <div class="inner-page">
        <div class="container">

            <form method="get" action=""  class="form-inline">
                <div class="form-group">
                {{ form_label(form.q) }}
                {{ form_widget(form.q) }}
                </div>
                <div class="form-group">
                {{ form_label(form.city) }}
                {{ form_widget(form.city) }}
                </div>
                <div class="form-group">
                {{ form_label(form.municipality) }}
                {{ form_widget(form.municipality) }}
                </div>
                <div class="form-group">
                {{ form_label(form.from) }}
                {{ form_widget(form.from) }}
                </div>
                <div class="form-group">
                {{ form_label(form.to) }}
                {{ form_widget(form.to) }}
                </div>
                <br><br>
                <div class="form-group">
                {{ form_label(form.meetingStatus) }}
                {{ form_widget(form.meetingStatus) }}
                </div>
                <div class="form-group">
                {{ form_label(form.type) }}
                {{ form_widget(form.type) }}
                </div>
                {{ form_label(form.onlyNewlyArrived) }}
                {{ form_widget(form.onlyNewlyArrived) }}
                <button type="submit" class="btn btn-primary">Sök</button>

            </form>

            <table class="table">
                <thead>
                    <tr>
                        <th>Skapad</th>
                        <th>Lärare</th>
                        <th>Övare</th>
                        <th>Ort/kommun</th>
                        <th>Typ</th>
                        <th>Skapad av</th>
                    </tr>
                </thead>
                {% for connection in pagerfanta.getCurrentPageResults() %}
                    <tbody>
                        <tr>
                            <td>
                                {{ connection.createdAt|date('Y-m-d H:i') }}

                                    <a href="#"
                                        class="add-comment"
                                        data-connection-id="{{ connection.id }}"
                                        {% if connection.comments|length %}
                                            data-toggle="popover"
                                            data-trigger="hover"
                                            title="Kommentarer"
                                            data-html="true"
                                            data-content="{% for comment in connection.comments -%}
                                                <strong>{{ comment.createdAt|date('Y-m-d H:i') }}</strong><br>
                                                {{ comment.user.name }}<br>
                                                <em>{{ comment.comment }}</em><br>
                                            {%- endfor %}"
                                            data-placement="bottom"
                                        {% endif %}
                                    ><i class="fa fa-comment{% if connection.comments|length == 0 %}-o{% endif %}"></i></a>

                                <br>
                                <a href="{{ path('admin_connection', {'id': connection.id}) }}">Ändra</a>

                            </td>
                            <td>
                                {{ macro.userCell(connection, false) }}
                            </td>
                            <td>
                                {{ macro.userCell(connection, true) }}
                            </td>
                            <td>
                                {{ connection.city ? connection.city.name : '' }}
                                {{ connection.municipality ? connection.municipality.name : '' }}
                            </td>
                            <td>{{ connection.type }}</td>
                            <td>{{ connection.createdBy.name }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>

            <div class="pagerfanta text-right">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('.create-connection-request').click(function (e) {
                e.preventDefault();
                var $this = $(this);
                if (confirm('Vill du verkligen skapa en kompisfikaförfrågan?')) {
                    $.ajax({
                        url: '{{ path('admin_create_connectionrequest') }}',
                        type: 'POST',
                        data: {
                            userId: $(this).data('user-id'),
                            comment: $(this).data('comment'),
                            wantToLearn: $(this).data('want-to-learn'),
                            cityId: $(this).data('city-id'),
                            sortOrder: 1,
                            type: $(this).data('type'),
                            date: $(this).data('date'),
                            connectionRequestId: $(this).data('connectionRequestId'),
                            sameDate: $this.siblings('select').find(':selected').val()
                        },
                        success: function (resp) {
                            if (resp.success) {
                                location.href='{{ path('admin_start') }}';
                            } else {
                                $this.next().show();
                            }
                        }
                    });
                }
            });
            $('.add-comment').click(function (e) {
                e.preventDefault();
                var comment = prompt('Skriv en kommentar');
                if (comment != null) {
                    $.ajax({
                        url: '{{ path('admin_add_connection_comment') }}',
                        type: 'POST',
                        data: {
                            comment: comment,
                            connectionId: $(this).data('connection-id')
                        },
                        success: function () {
                            location.href = location.href;
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
