{% extends 'base.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block body %}

    <div class="inner-page">
        <div class="container">
            <div class="row">
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.fluentSpeakerMeetingStatus) }}
                    {{ form_widget(form.fluentSpeakerMeetingStatus) }}
                    {{ form_errors(form.fluentSpeakerMeetingStatus) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.fluentSpeakerMarkedAsMetCreatedAt) }}
                    {{ form_widget(form.fluentSpeakerMarkedAsMetCreatedAt) }}
                    {{ form_errors(form.fluentSpeakerMarkedAsMetCreatedAt) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.learnerMeetingStatus) }}
                    {{ form_widget(form.learnerMeetingStatus) }}
                    {{ form_errors(form.learnerMeetingStatus) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.learnerMarkedAsMetCreatedAt) }}
                    {{ form_widget(form.learnerMarkedAsMetCreatedAt) }}
                    {{ form_errors(form.learnerMarkedAsMetCreatedAt) }}
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-orange">Spara</button>
                </div>

            {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
