{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-page testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="selection">Välj kommun</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu city-dropdown" aria-labelledby="dropdownMenu1">
                            {% for loopedMunicipality in municipalities %}
                                <li>
                                    <a
                                        href="{{ path('pre_matches', {'id': loopedMunicipality.id}) }}"
                                    >{{ loopedMunicipality.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                    <a href="{{ path('municipality_waiting', {'id': municipality.id}) }}">Waiting</a>
                    <a href="{{ path('municipality_matched', {'id': municipality.id}) }}">Matched</a>
                </div>
            </div>

            <div class="row" style="margin-top: 40px;">
                <table class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date for request</th>
                        <th>Category</th>
                        <th>About</th>
                        <th colspan="2">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for preMatch in preMatches %}
                            <tr id="row-{{ preMatch.id }}-1">
                                <td rowspan="2" class="text-center" style="vertical-align: middle">
                                    <strong>{{ preMatch.id }}</strong>
                                </td>
                                <td>{{ preMatch.learnerConnectionRequest.createdAt|date('Y-m-d') }}</td>
                                <td>New</td>
                                <td>
                                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#userModal" data-user="{{ preMatch.learnerConnectionRequest.user.id }}"><i class="fa fa-user fa-fw"></i>View user</button>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <button class="btn btn-default pull-right pending-learner" data-id="{{ preMatch.learnerConnectionRequest.id }}" data-prematch-id="{{ preMatch.id }}">{% if preMatch.learnerConnectionRequest.pending %}Remove Pending{% else %}Make Pending{% endif %}</button>
                                    {% endif %}

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <strong><a href="{{ path('admin_user', {'id': preMatch.learnerConnectionRequest.user.id}) }}">{{ preMatch.learnerConnectionRequest.user.name }}</a></strong>,
                                    {% else %}
                                        <strong>{{ preMatch.learnerConnectionRequest.user.name }}</strong>,
                                    {% endif %}
                                    {{ preMatch.learnerConnectionRequest.user.gender|gender }},
                                    {{ preMatch.learnerConnectionRequest.user.age }},
                                    {{ preMatch.learnerConnectionRequest.user.from }}<br>
                                    <strong>Berätta om dig själv:</strong> {{ preMatch.learnerConnectionRequest.user.about }}<br>
                                    <strong>Saker du typer om:</strong> {{ preMatch.learnerConnectionRequest.user.activities }}<br>
                                    <strong>Sysselsättning:</strong> {{ preMatch.learnerConnectionRequest.user.occupation|occupation }}<br>
                                    <strong>Vill du ta med dig någon:</strong>
                                        {% if preMatch.learnerConnectionRequest.extraPerson %}
                                            Ja, {{ preMatch.learnerConnectionRequest.extraPersonGender|gender }}, {{ ('extra_person.' ~ preMatch.learnerConnectionRequest.extraPersonType)|trans }}
                                        {% else %}
                                            Nej
                                        {% endif %}
                                    <br>
                                    <strong>Barn:</strong>
                                        {% if preMatch.learnerConnectionRequest.user.hasChildren %}
                                            Ja, {{ preMatch.learnerConnectionRequest.user.childrenAge }}
                                        {% else %}
                                            Nej
                                        {% endif %}
                                    <br>
                                    <strong>Matcha familj:</strong>
                                    {% if preMatch.learnerConnectionRequest.matchFamily %}
                                        Ja, {{ preMatch.learnerConnectionRequest.matchFamily }}
                                    {% else %}
                                        Nej
                                    {% endif %}
                                    <br>
                                    <strong>Önskemål:</strong>
                                    {% if preMatch.learnerConnectionRequest.matchingProfileRequestType %}
                                        {{ ('matching_profile_request.' ~ preMatch.learnerConnectionRequest.matchingProfileRequestType)|trans }}
                                    {% endif %}<br>

                                    <strong>Tillgänglig:</strong>
                                    {% if preMatch.learnerConnectionRequest.availableWeekday %}
                                        {{ 'connection_request.form.available.weekday'|trans }}
                                    {% endif %}
                                    {% if preMatch.learnerConnectionRequest.availableWeekend %}
                                        {{ 'connection_request.form.available.weekend'|trans }},
                                    {% endif %}
                                    {% if preMatch.learnerConnectionRequest.availableDay %}
                                        {{ 'connection_request.form.available.daytime'|trans }},
                                    {% endif %}
                                    {% if preMatch.learnerConnectionRequest.availableEvening %}
                                        {{ 'connection_request.form.available.evening'|trans }}
                                    {% endif %}
                                    <br>
                                    <strong>Kategorier:</strong> {{ user_category_name_string(preMatch.learnerConnectionRequest.user) }}<br>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <strong>Intern kommentar:</strong> {{ preMatch.learnerConnectionRequest.user.internalComment }}<br>
                                    {% endif %}
                                </td>
                                <td>
                                </td>
                                <td rowspan="2" style="vertical-align: middle">
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <a
                                        href="#"
                                        class="btn btn-info verify-match"
                                        data-pre-match-id="{{ preMatch.id }}"
                                        data-verify="{{ preMatch.verified ? 'true' : 'false' }}"
                                    >{{ preMatch.verified ? 'Godkänn inte förslag' : 'Godkänn förslag' }}</a><br><br>
                                    {% endif %}
                                    <a
                                        href="{{ path('pre_match_confirm', {'municipalityId': municipality.id, 'preMatchId': preMatch.id}) }}"
                                        class="btn btn-primary confirm-match"
                                        data-pre-match-id="{{ preMatch.id }}"
                                    >Bekräfta matchning...</a><br><br>
                                </td>
                            </tr>
                            <tr id="row-{{ preMatch.id }}-2">
                                <td class="fluent-speaker-connection-request-created-at">
                                    {{ preMatch.fluentSpeakerConnectionRequest ? preMatch.fluentSpeakerConnectionRequest.createdAt|date('Y-m-d') : null }}
                                </td>
                                <td>Established</td>
                                <td class="fluent-speaker">
                                    {% if preMatch.fluentSpeakerConnectionRequest %}
                                        {{ render(controller('AppBundle:PreMatch:fragment', {'municipalityId': municipality.id, 'preMatchId': preMatch.id})) }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="#" class="btn btn-default re-match" data-pre-match-id="{{ preMatch.id }}">
                                        Sök ny
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    {% include('municipality/modal.html.twig') %}

{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        $('.re-match').click(function(e) {
            e.preventDefault();
            var preMatchId = $(this).data('preMatchId');
            $('#row-' + preMatchId + '-2 .fluent-speaker').html('<i class="fa fa-spinner fa-spin fa-3x"></i>');
            $.ajax({
                url: Routing.generate('re_pre_match', {
                    municipalityId: {{ municipality.id }},
                    preMatchId: preMatchId
                }),
                method: 'PUT'
            }).done(function(data) {
                var requestCreatedAt = '';
                $('#row-' + preMatchId + '-1 .confirm-match').attr('disabled', 'disabled');
                if (data.fluent_speaker != null) {
                    $('#row-' + preMatchId + '-1 .confirm-match').removeAttr('disabled');
                    requestCreatedAt = data.fluent_speaker.request_created_at;
                    $.ajax({
                        url: Routing.generate('pre_match_fragment', {
                            municipalityId: {{ municipality.id }},
                            preMatchId: preMatchId
                        }),
                        method: 'GET'
                    }).done(function(data) {
                        $('#row-' + preMatchId + '-2 .fluent-speaker').html(data);
                    });
                } else {
                    $('#row-' + preMatchId + '-2 .fluent-speaker').html('');
                }
                $('#row-' + preMatchId + '-2 .fluent-speaker-connection-request-created-at').text(requestCreatedAt);
            });
        });

        $('.verify-match').click(function(e) {
            e.preventDefault();
            var $button = $(this);
            var preMatchId = $button.data('preMatchId');
            var verify = $button.attr('data-verify') == 'false';
            $.ajax({
                url: Routing.generate('patch_pre_match', {
                    municipalityId: {{ municipality.id }},
                    preMatchId: preMatchId
                }),
                data: {
                    verified: verify
                },
                method: 'PATCH'
            }).done(function () {
                $button.attr('data-verify', verify);
                if (verify) {
                    $button.text('Godkänn inte förslag');
                } else {
                    $button.text('Godkänn förslag');
                }
            });
        });
        $(document).on('click', '.pending-fluentspeaker', function() {
            var $button = $(this);
            $button.attr('disabled', 'disabled');
            $button.html('<i class="fa fa-spinner fa-spin"></i>');
            var connectionRequestId = $button.attr('data-id');
            var preMatchId = $button.attr('data-prematch-id');
            $.get(Routing.generate('admin_ajax_connection_request_mark_pending_or_unpending', {id: connectionRequestId}),
                function(data) {
                    $('.re-match[data-pre-match-id="' + preMatchId + '"]').trigger('click');
                }
            );
        });
        $(document).on('click', '.pending-learner', function() {
            var $button = $(this);
            $button.attr('disabled', 'disabled');
            $button.html('<i class="fa fa-spinner fa-spin"></i>');
            var connectionRequestId = $button.attr('data-id');
            var preMatchId = $button.attr('data-prematch-id');
            $.get(Routing.generate('admin_ajax_connection_request_mark_pending_or_unpending', {id: connectionRequestId}),
                function(data) {
                    $.ajax({
                        url: Routing.generate('delete_pre_match', {
                            municipalityId: {{ municipality.id }},
                            preMatchId: preMatchId
                        }),
                        method: 'DELETE'
                    }).done(function () {
                        $('#row-' + preMatchId + '-1, #row-' + preMatchId + '-2').fadeOut('slow');
                    });
                }
            );
        });
    });
    {% include('municipality/modal.js.twig') %}
</script>
{% endblock %}
