{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-page testimonial">
        <div class="container">

            <div class="row" style="margin-top: 40px;">
                <table class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Created at</th>
                        <th>Learner</th>
                        <th>Fluent speaker</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for connection in connections %}
                        <tr>
                            <td>{{ connection.createdAt|date('Y-m-d') }}</td>
                            <td>
                                {{ connection.learner.name }}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#userModal" data-user="{{ connection.learner.id }}"><i class="fa fa-user fa-fw"></i>View user</button>
                            </td>
                            <td>
                                {{ connection.fluentSpeaker.name }}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#userModal" data-user="{{ connection.fluentSpeaker.id }}"><i class="fa fa-user fa-fw"></i>View user</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    {% include(':municipality:modal.html.twig') %}

{% endblock %}

{% block javascripts %}
    <script>
        {% include('municipality/modal.js.twig') %}
    </script>
{% endblock %}
