{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="/css/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="inner-page testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {% if cities is defined %}
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="selection">{{ 'match.select_region'|trans }}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu city-dropdown" aria-labelledby="dropdownMenu1">
                                {% for city in cities %}
                                    <li>
                                        <a href="{{ path(app.request.attributes.get('_route')) }}#{{ city.id }}" data-path="{{ path('admin_start', {'id': city.id}) }}" id="city-{{ city.id }}" data-city-id="{{ city.id }}" data-city-name="{{ city.name }}">{{ city.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <a href="{{ path('admin_start2') }}" class="btn btn-default btn-md">{{ 'match.find_matches'|trans }}</a>
                    <a href="{{ path('admin_manual') }}" class="btn btn-default btn-md">{{ 'match.manual_handling'|trans }}</a>

                    <a href="#" class="btn btn-default btn-md">{{ 'match.statistics'|trans }}</a>
                </div>
            </div>
            {% block default_content %}{% endblock %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/jquery.blockUI.js') }}"></script>
{% endblock %}
