{% extends 'admin2/default/base.html.twig' %}

{% block default_content %}
    <div class="row" style="margin-top: 40px;">
        <div class="col-md-12">
            <p>Hi! Right now we have <strong class="learners-num">{{ newUsers|length }} new</strong> &amp; <strong class="established-num">{{ establishedUsers|length }} established</strong> to match in <span class="stat-city-name">{{ city.name }}</span>. Thank you for helping out!</p>
            <p>Last month we matched 30 people, so far we have matched 16 people this month.</p>
        </div>
    </div>
    <div class="row" style="margin-top: 40px;">
        <h1>1. Choose a person to find a match for</h1>
        <p>The people that have been waiting longest are displayed on top. "Match"-percentage tells you how good of a match the system could find.</p>
        <table id="match-users" class="table table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th id="request_date">{{ 'Date for request'|trans }}</th>
                <th id="name">{{ 'Name'|trans }}</th>
                <th id="email">{{ 'Email'|trans }}</th>
                <th id="category">{{ 'Category'|trans }}</th>
                <th id="action">{{ 'Action'|trans }}</th>
            </tr>
            </thead>
            <tbody class="persons-list-body"></tbody>
        </table>
        <div class="text-center">
            <a href="#" class="btn btn-lg btn-default show-more-btn disabled" data-next-page="1">{{ 'Show 25 more'|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ajaxStart(function(){
            $('#match-users').block({
                message: '<strong>Loading...</strong>'
            });
        });

        $(document).ajaxStop(function(){
            $('#match-users').unblock();
        });

        $(document).ready(function() {

            var currentCityId = {{ city.id }};

            var table = $('#match-users').DataTable({
                "paging": false,
                "bInfo": false,
                //"bFilter": false,
                columns:[
                    {data: 'request_date', width: '15%'},
                    {data: "name"},
                    {data: "email"},
                    {data: "category"},
                    {data: "action", width: '20%'}
                ],
                "createdRow": function ( row, data, index ) {
                    var ids = $('td', row).eq(4).text().split('|');
                    $('td', row).eq(4).html('<a href="'+Routing.generate('admin_ajax_connection_request_mark_pending', {id: ids[1]})+'" class="btn btn-warning btn-pending">Make pending</a>&nbsp;&nbsp;<a href="'+Routing.generate('admin_match_find', {id: ids[0]})+'" class="btn btn-danger">Find match</a>');
                }
            });

            $('.show-more-btn').on( 'click', function (e) {
                e.preventDefault();

                var $selected   = $('#dropdownMenu1').find('.selection');
                var cityId      = $selected.val();

                showMoreResults(cityId, $('.show-more-btn').data('next-page'));
            } );

            $(".city-dropdown li a").click(function(e){
                e.preventDefault();

                var href    = $(this).attr('href');
                var text    = $(this).text();

                history.pushState(null, text, href);

                $(this).closest(".dropdown").removeClass('open');

                showMoreResults($(this).data('city-id'), 1);
            });

            $('#match-users').on('click', 'a.btn-pending', function(e){
                var $this = $(this);

                $.get($this.attr('href'), function(resp) {
                    if (resp.success) {
                        window.location.reload();
                    }
                });

                return false;
            });

            var showMoreResults = function (id, page) {
                var $link   = $(".city-dropdown li a#city-"+id);
                var href    = $link.attr('href');
                var text    = $link.text();
                $link.closest(".dropdown").find('.selection').text(text);
                $link.closest(".dropdown").find('.selection').val(id);
                $('.stat-city-name').html($link.text());

                if (page == 1) {
                    table.clear();
                }

                $.get(Routing.generate('ajax_by_city', {id: id, page: page}), function (resp) {
                    if (resp.success) {
                        $('.learners-num').html(resp.newUsers+' new');
                        $('.established-num').html(resp.establishedUsers+' established');
                        if (resp.next) {
                            $('.show-more-btn').data('next-page', resp.next);
                            $('.show-more-btn').removeClass('disabled');
                        } else {
                            $('.show-more-btn').addClass('disabled', 'disabled');
                        }

                        table.rows.add(resp.results).draw();
                    }
                });
            }

            if (history.pushState) {
                window.addEventListener("popstate", function(e) {
                    var cityId = window.location.hash.substring(1);
                    showMoreResults(cityId, 1);
                });
            } else {
                window.attachEvent("onhashchange", function(e) {
                    var cityId = window.location.hash.substring(1);
                    showMoreResults(cityId, 1);
                });
            }

            if (window.location.hash.length) {
                var cityId = window.location.hash.substring(1);
                showMoreResults(cityId, 1);
            } else if (currentCityId) {
                $(".city-dropdown li a#city-"+currentCityId).trigger('click');
            }
        });
    </script>
{% endblock %}