{% extends 'admin2/default/base.html.twig' %}

{% block default_content %}

    <div class="row" style="margin-top: 40px; margin-bottom: 20px;">
        <h1>{{ 'inspection.title.inspection_connection_requests' }}</h1>
    </div>
    {% for uninspectedRequest in uninspectedRequests %}
        {% set user = uninspectedRequest.user %}
        <div class="row"  style="margin-bottom: 10px;">
            <h3>{{ uninspectedRequest.createdAt|date('Y-m-d') }}-{{ user.fullName }}</h3>
            <form class="form-horizontal current-profile-form">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Name'|trans }}</label>
                        <div class="col-sm-10">
                            <div class="form-control" id="fullName">{{ user.fullName }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Email'|trans }}</label>
                        <div class="col-sm-10">
                            <div class="form-control" id="email">{{ user.email }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Age'|trans }}</label>
                        <div class="col-sm-10">
                            <div class="form-control" id="age">{{ user.age }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Category'|trans }}</label>
                        <div class="col-sm-10">
                            <div class="form-control" id="type">{{ want_to_learn_name(user.wantToLearn) }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Country'|trans }}</label>
                        <div class="col-sm-10">
                            <div class="form-control" id="countryName">{{ user.countryName }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Area'|trans }}</label>
                        <div class="col-sm-10">
                            <div class="form-control" id="area">{{ user.municipality.name }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Children'|trans }}</label>
                        <div class="col-sm-10">
                            <div class="form-control" id="hasChildren">{% if user.hasChildren %}Yes{% else %}No{% endif %}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Type'|trans }}</label>
                        <div class="col-sm-10">
                            <div class="form-control" id="musicFriendType">{{ user.musicFriendType }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Interests'|trans }}</label>
                        <div class="col-sm-10">
                            <div class="form-control textarea" id="interests">{{ user.categoryNameString }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="col-sm-12">{{ 'Description'|trans }}</label>
                        <div class="col-sm-12">
                            <div class="form-control textarea" id="about">{{ user.about|raw }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12">{{ 'Match Request'|trans }}</label>
                        <div class="col-sm-12">
                            <div class="form-control textarea" id="firstConnectionRequestComment">{{ user.firstConnectionRequestComment|raw }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12">{{ 'Internal Comments'|trans }}</label>
                        <div class="col-sm-12">
                            <div class="form-control textarea" id="internalComment">{{ user.internalComment|raw }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <a href="{{ path('admin_ajax_connection_request_mark_inspected', {id: uninspectedRequest.id}) }}" class="btn btn-large btn-default btn-approve">{{ 'btn.approve'|trans }}</a>&nbsp;
                    <a href="{{ path('admin_connection_request_mark_unpending', {id: uninspectedRequest.id}) }}" class="btn btn-large btn-default btn-unpending">{{ 'btn.make_pending'|trans }}</a>&nbsp;
                    <a href="{{ path('admin_ajax_edit', {id: uninspectedRequest.user.id}) }}" class="btn btn-large btn-default btn-edit-profile">{{ 'btn.edit_profile'|trans }}</a>
                </div>
            </form>
        </div>
    {% endfor %}
    <div class="modal fade" id="userEditModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel">
        <div class="modal-dialog" role="document" style="width:800px;">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            var table = $('#match-users').DataTable({
                "paging": false,
                "bInfo": false,
                "pageLength": 100
            });

            $('body').on('click', '.btn-edit-profile', function(e){
                e.preventDefault();
                var $this = $(this);
                $('#userEditModal').removeClass('current');

                $.get($this.attr('href'), function (html){
                    if ($this.hasClass('current')) {
                        $('#userEditModal').addClass('current');
                    }

                    $('#userEditModal .modal-content').html(html);
                    $('#userEditModal').modal('show');
                });
            });

            $('body').on('click', '.btn-save-profile', function(e){
                e.preventDefault();
                var $this = $(this);
                var $form = $this.closest('form');

                $.post($form.attr('action'), $form.serialize(), function (resp){
                    if (resp.success) {
                        $('#userEditModal').modal('hide');
                        window.location.reload();
                    }
                });
            });
        });
    </script>
{% endblock %}