{% extends 'admin2/default/base.html.twig' %}

{% block default_content %}
    <div class="row" style="margin-top: 40px; margin-bottom: 20px;">
        <h1>{{ 'Inspection Connection Requests'|trans }}</h1>
    </div>
    {% for uninspectedRequest in uninspectedRequests %}
        {% set user = uninspectedRequest.user %}
        <div class="row"  style="margin-bottom: 10px;">
            <h3>{{ uninspectedRequest.createdAt|date('Y-m-d') }}-{{ user.fullName }}</h3>
            {% embed "admin2/user/info.html.twig" with {'user': user, 'connectionRequest': uninspectedRequest} %}
                {% block edit_profile_buttons %}
                    <div class="col-md-10 col-md-offset-1">
                        <a href="{{ path('admin_ajax_connection_request_mark_inspected', {id: uninspectedRequest.id}) }}" class="btn btn-large btn-default btn-approve{% if uninspectedRequest.inspected %} disabled{% endif %}">{{ 'Approve'|trans }}</a>&nbsp;
                        <a href="{{ path('admin_ajax_connection_request_mark_pending_or_unpending', {id: uninspectedRequest.id}) }}" class="btn btn-large btn-default btn-unpending">{% if uninspectedRequest.pending %}{{ 'Remove Pending'|trans }}{% else %}{{ 'Make Pending'|trans }}{% endif %}</a>&nbsp;
                        <a href="{{ path('admin_ajax_edit', {id: user.id}) }}" class="btn btn-large btn-default btn-edit-profile">{{ 'Edit Profile'|trans }}</a>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    {% endfor %}
    {% include 'admin2/user/modal.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('.btn-approve').click(function(e){
                e.preventDefault();

                var $this = $(this);
                $.get($this.attr('href'), function (resp){
                    if (resp.success) {
                        $this.html('disabled');
                    }
                });
            });

            $('.btn-unpending').click(function(e){
                e.preventDefault();

                var $this = $(this);
                $.get($this.attr('href'), function (resp){
                    if (resp.success) {
                        $this.html(resp.label);
                    }
                });
            });

            $('body').on('click', '.btn-edit-profile', function(e){
                e.preventDefault();
                var $this = $(this);
                $('#userEditModal').removeClass('current');

                $.get($this.attr('href'), function (html){
                    if ($this.hasClass('current')) {
                        $('#userEditModal').addClass('current');
                    }

                    $('#userEditModal .modal-content').html(html);
                    $('#userEditModal').modal('show');
                });
            });

            $('body').on('click', '.btn-save-profile', function(e){
                e.preventDefault();
                var $this = $(this);
                var $form = $('[name=admin_user]'); //$this.closest('form');
                $.post($form.attr('action'), $form.serialize(), function (resp){
                    if (resp.success) {
                        $('#userEditModal').modal('hide');
                        window.location.reload();
                    }
                });
            });

            $('body').on('click', '.btn-save-request', function(e){
                e.preventDefault();
                var $this = $(this);
                var $form = $('[name=connectionRequest]');
                $.post($form.attr('action'), $form.serialize(), function (resp){
                    if (resp.success) {
                        $('#userEditModal').modal('hide');
                        window.location.reload();
                    }
                });
            });
        });
    </script>
{% endblock %}