{% extends 'baseEmail.html.twig' %}

{% block body %}
    <p>Hej {{ recipient.firstName }}!</p>

    <p>Vad kul att du vill vara med i Kompisbyrån!</p>

    <p>Vi har nu hittat en {{ connection.musicFriend ? 'Musikkompis' : 'Fikakompis' }} till dig. {{ partner.gender|pronoun|capitalize }} heter {{ partner.name }} och
        gillar
        {% if connection.musicFriend %}
            {% set categories = partner.musicCategories %}
        {% else %}
            {% set categories = partner.categories %}
        {% endif %}
        {% for category in categories -%}
            {{ category.name|lower }}{% if loop.revindex == 2 %} och {% elseif not loop.last %}, {% endif %}
        {%- endfor %}.</p>

    <p>Maila din {{ connection.musicFriend ? 'Musikkompis' : 'Fikakompis' }} som har e-mail: {{ partner.email }}. Bestäm var och när ni ska träffas,
    skicka mailet inom en vecka. Vi rekommenderar att ni ses på ett offentlig plats i ungefär en timme. Vi har också skickat 
    din e-mail till din {{ connection.musicFriend ? 'Musikkompis' : 'Fikakompis' }}.</p>

    <p>
        Skicka gärna ett foto från {{ connection.musicFriend ? 'ert musikmöte' : 'er fika' }} och berätta om hur du tycker att det var. Vi vill gärna dela med oss av det för att
        uppmuntra fler till att vara med och få information om Kompisbyrån.
    </p>

    <p>Om du har frågor, kontakta oss! Vi önskar er {{ connection.musicFriend ? 'ett trevligt musikmöte!' : 'en trevlig fika!' }}</p>

    <p>
        Bästa hälsningar<br>
        Vännerna på Kompisbyrån
    </p>

{% endblock %}
