{% extends 'base.html.twig' %}

{% block body %}

    <div class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-0"></div>
                <div class="col-md-8 col-sm-12">
                    <h2>{{ 'open.confirm_meeting.header'|trans }}</h2>
                    {% if alreadyConfirmed %}
                        {{ 'open.confirm_meeting.already_answered'|trans|nl2br }}
                    {% else %}
                        <p id="intro"> {{ 'open.confirm_meeting.ingress'|trans|nl2br }}</p>

                        <div id="buttons" style="padding-top: 1em;">
                            <a href="#" data-status="{{ constant('AppBundle\\Enum\\MeetingTypes::MET') }}" class="btn btn-success">
                                {{ 'open.confirm_meeting.button.met'|trans }}
                            </a>
                            &nbsp;
                            <a href="#" data-status="{{ constant('AppBundle\\Enum\\MeetingTypes::NOT_YET_MET') }}" class="btn btn-default">
                                {{ 'open.confirm_meeting.button.not_yet_met'|trans }}
                            </a>
                            &nbsp;
                            <a href="#" data-status="{{ constant('AppBundle\\Enum\\MeetingTypes::WILL_NOT_MEET') }}" class="btn btn-danger">
                                {{ 'open.confirm_meeting.button.will_not_meet'|trans }}
                            </a>
                        </div>
                        <div id="met" class="hidden">
                            {{ 'open.confirm_meeting.after.met'|trans|nl2br }}
                        </div>
                        <div id="not_yet_met" class="hidden">
                            {{ 'open.confirm_meeting.after.not_yet_met'|trans|nl2br }}
                        </div>
                        <div id="will_not_meet" class="hidden">
                            <p>{{ 'open.confirm_meeting.after.will_not_meet'|trans|nl2br }}</p>

                            {% if clone %}
                                <p>
                                    <a href="#" id="re-match" class="btn btn-success">{{ 'open.confirm_meeting.clone.button'|trans }}</a>
                                    <div id="re-match-text" class="hidden">
                                        <strong>{{ 'open.confirm_meeting.clone.confirm_message'|trans }}</strong>
                                    </div>
                                </p>

                                <p>
                                    {{ 'open.confirm_meeting.clone.text'|trans({'%linkStart%': '<a href="' ~ path('login') ~ '">' ,'%linkEnd%': '</a>'})|raw }}
                                </p>
                            {% endif %}

                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#buttons .btn').on('click', function (e) {
                e.preventDefault();
                $('#buttons .btn').attr('disabled', true);

                var status = $(this).data('status');
                var data = {status: status};

                $.post('{{ path('public_connection', {'uuid': uuid, 'id': connection.id}) }}', data, function(resp) {
                    $('#buttons').hide();
                    $('#intro').hide();
                    $('#' + status).removeClass('hidden');
                });
            });

            $('#re-match').on('click', function (e) {
                e.preventDefault();
                $(this).attr('disabled', true);

                $.post('{{ path('public_clone_connection_request', {'uuid': uuid, 'id': connection.id}) }}', null, function(resp) {
                    $('#re-match').hide();
                    $('#re-match-text').removeClass('hidden');
                });
            });
        });
    </script>
{% endblock %}
