{% extends 'base.html.twig' %}


{% block metatags %}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Musikkompis." />
    <meta property="og:url" content="http://www.kompisbyran.se/musikkompis"/>
    <meta property="og:image" content="http://www.kompisbyran.se/images/kompisbyran3.png" />
    <meta property="og:description" content="Dela ditt musikintresse med människor från olika kulturer.
Vi vet att musik är en stark förenande kraft. Därför startar vi nu Musikkompis, tillsammans med mobiloperatören 3 , för alla som vill mötas genom musik." />
{% endblock %}


{% block body %}

    <div class="inner-page musikkompis">
        <div class="container musikkompis">
            <img src="{{ asset('images/musikkompis.png') }}" alt="Musikkompis" class="img-responsive center-block">
            <h1 class="subheader text-center">
                {{ 'register.musicfriend.subheader'|trans }}
            </h1>
            <p class="lead text-center">
                {{ 'register.musicfriend.ingress'|trans | raw }}
            </p>
            <div class="text-center">
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg br-orange">
                    {{ 'homepage.cta.musicfriend.button'|trans }}
                </a>
            </div>

            <div class="video row">
                <div class="video__header col-12"> 
                    <p class="lead"> {{ 'register.musicfriend.videoheader'|trans }}</p>
                </div>
                <div class="video__box col-sm-12 col-md-6">
                    <div class="video__box--media">
                        <iframe src="https://www.youtube.com/embed/pmsbyZqwiLM" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <p class="video__box--text">
                        {{ 'register.musicfriend.video1'|trans }}
                    </p>
                </div>
                <div class="video__box col-sm-12 col-md-6">
                    <div class="video__box--media">
                        <iframe src="https://www.youtube.com/embed/HX9fMo8crg4" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <p class="video__box--text">
                        {{ 'register.musicfriend.video2'|trans }}
                    </p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block footer %}
<!-- Footer Start -->
<div class="footer--music">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
            
            <div class="col-sm-8 col-xs-12">
                <div class="footer-widget">
                    <h4> {{ 'register.musicfriend.footer.header'|trans }} </h4>
                    <p> {{ 'register.musicfriend.footer.text'|trans }} </p>
                </div>
            </div>

            <div class="col-sm-4 col-xs-12">
                <div class="footer-logos">
                    <img src="/images/KB-logo.gif" class="img-responsive kb-logo" alt="" />
                    <a href="//tre.se/musikkompis"><img src="/images/neverstopsharing.png" class="img-responsive" alt="" /></a>
                </div>
            </div>

            </div>

        </div>
    </div>
</div>
<!-- Footer End -->
{% endblock %}
