{% extends 'base.html.twig' %}

{% block body %}

<div class="inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-0"></div>
            <div class="col-md-7 col-sm-12">
                <h2><strong>{{ 'page.work_with_us.header'|trans }}</strong></h2>
                {{ 'page.work_with_us.text1'|trans|raw }}
                <img src="{{ asset('images/julkampanj.jpg') }}" alt="Julkampanj" class="img-responsive center-block">
                <br>
                {{ 'page.work_with_us.text2'|trans|raw }}
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="partner-wrapper">
                    <img src="{{ asset('images/delicato.png') }}" alt="Delicato" class="partner-logo"><br>
                    <img src="{{ asset('images/postkodstiftelsen.jpg') }}" alt="Postkodstiftelsen" class="partner-logo"><br>
                    <img src="{{ asset('images/sigtuna.png') }}" alt="Sigtunastiftelsen" class="partner-logo">
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
