{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-page testimonial">
        <div class="container">
            <div class="row" style="margin-top: 40px;">
                <h1>{{ '2. Find a match for'|trans }} {{ user.fullName }}</h1>
                <h2>{{ '2.1 Read through the profile'|trans }}</h2>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-12">
                    <div class="pull-right">
                        <a href="{{ path('admin_ajax_edit', {id: user.id}) }}" class="btn btn-danger edit-current-profile current">{{ 'Edit profile'|trans }}</a>&nbsp;<a href="{{ path('admin_ajax_connection_request_mark_pending', {id: user.firstConnectionRequest.id}) }}" class="btn btn-warning connection-requestion-mark-pending go-back">Make pending</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <form class="form-horizontal current-profile-form">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Name'|trans }}</label>
                            <div class="col-sm-10">
                                <div class="form-control" id="fullName">{{ user.fullName }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Email'|trans }}</label>
                            <div class="col-sm-10">
                                <div class="form-control" id="email">{{ user.email }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Age'|trans }}</label>
                            <div class="col-sm-10">
                                <div class="form-control" id="age">{{ user.age }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Category'|trans }}</label>
                            <div class="col-sm-10">
                                <div class="form-control" id="type">{{ want_to_learn_name(user.wantToLearn) }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Country'|trans }}</label>
                            <div class="col-sm-10">
                                <div class="form-control" id="countryName">{{ user.countryName }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Area'|trans }}</label>
                            <div class="col-sm-10">
                                <div class="form-control" id="area">{{ user.municipality.name }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Children'|trans }}</label>
                            <div class="col-sm-10">
                                <div class="form-control" id="hasChildren">{% if user.hasChildren %}Yes{% else %}No{% endif %}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Type'|trans }}</label>
                            <div class="col-sm-10">
                                <div class="form-control" id="musicFriendType">{{ user.musicFriendType }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Interests'|trans }}</label>
                            <div class="col-sm-10">
                                <div class="form-control textarea" id="interests">{{ user.categoryNameString }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="col-sm-12">{{ 'Description'|trans }}</label>
                            <div class="col-sm-12">
                                <div class="form-control textarea" id="about">{{ user.about|raw }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12">{{ 'Match Request'|trans }}</label>
                            <div class="col-sm-12">
                                <div class="form-control textarea" id="firstConnectionRequestComment">{{ user.firstConnectionRequestComment|raw }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12">{{ 'Internal Comments'|trans }}</label>
                            <div class="col-sm-12">
                                <div class="form-control textarea" id="internalComment">{{ user.internalComment|raw }}</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row" style="margin-top: 20px;">
                <h2>{{ '2.2 Filter if necessary'|trans }}</h2>
            </div>
            <form class="form-horizontal" id="filter-form" action="{{ path('admin_match_results', {id: user.id}) }}" novalidate="novalidate" method="post">
            <div class="row match-filter-container" data-filters="">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-3">
                            {{ form_label(form.category_id) }}
                        </div>
                        <div class="col-sm-9">
                            {{ form_widget(form.category_id) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            {{ form_label(form.ageFrom) }}
                        </div>
                        <div class="col-sm-4">
                            {{ form_widget(form.ageFrom) }}
                        </div>
                        <div class="col-sm-1">
                            <strong>-</strong>
                        </div>
                        <div class="col-sm-4">
                            {{ form_widget(form.ageTo) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            {{ form_label(form.gender) }}
                        </div>
                        <div class="col-sm-9">
                            {{ form_widget(form.gender) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-3">
                            {{ form_label(form.has_children) }}
                        </div>
                        <div class="col-sm-9">
                            {{ form_widget(form.has_children) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            {{ form_label(form.from) }}
                        </div>
                        <div class="col-sm-9">

                            {{ form_widget(form.from) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            {{ form_label(form.municipality_id) }}
                        </div>
                        <div class="col-sm-9">
                            {{ form_widget(form.municipality_id) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-3">
                            {{ form_label(form.music_friend) }}
                        </div>
                        <div class="col-sm-9">
                            {{ form_widget(form.music_friend) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 15px;">
                    <a href="" class="btn btn-lg btn-default btn-search" data-current-user="{{ user.id }}">Search</a>
                </div>
            </div>
            {{ form_rest(form) }}
            </form>
            <div class="row" style="margin-top: 20px;">
                <h2>{{ '2.3 Choose a person to match '~ user.fullName ~' with'|trans }}</h2>
                <p>{{ '"Match"-score is a measurement on how good match the system could find. These candidates has the best matching score:'|trans }}</p>
                <div class="match-results-container"></div>
                <div class="row">
                    <div class="col-md-12 more-candidates">
                        <a href="#" class="btn btn-lg btn-default btn-show-more disabled" data-current-user="{{ user.id }}" data-next-page="1">{{ 'Show 5 more candidates'|trans }}</a>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <h2>{{ '2.4 Review the emails that will be sent'|trans }}</h2>
            </div>

            <div class="row">
                <form id="requests-email" method="post" action="{{ path('admin_match_approve') }}">
                    <div class="col-md-6">
                        <h4>{{ 'Email to '|trans }} {{ user.fullName }}</h4>
                        {{ form_widget(matchForm.email_to_user) }}
                        {#<textarea class="form-control" rows="12">{{ 'match.email.user'|trans }}</textarea>#}
                    </div>
                    <div class="col-md-6">
                        <h4>{{ 'Email to match'|trans }}</h4>
                        {{ form_widget(matchForm.email_to_match_user) }}
                        {#<textarea class="form-control" rows="12">{{ 'match.email.match.user'|trans }}</textarea>#}
                    </div>
                    {{ form_rest(matchForm) }}
                </form>
            </div>
            <div class="row" style="margin-top: 20px;">
                <h2>{{ '2.5 Approve the match'|trans }}</h2>
                <p>{{ 'Does the match feel good? Then it\'s time to approve it and send out emails.'|trans }}</p>
                <a href="#" class="btn btn-large btn-orange disabled" id="btn-approve-send-emails">{{ 'Approve & send emails'|trans }}</a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="userEditModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel">
        <div class="modal-dialog" role="document" style="width:800px;">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.blockUI.js') }}"></script>
    <script src="{{ asset('js/jquery.loadTemplate-1.5.6.js') }}"></script>

    <script type="text/html" id="template">
        <div class="row candidate" data-id="ele">
            <div class="col-md-1">
                <p class="score" data-content="score"></p>
            </div>
            <div class="col-md-9 presentation">
                <div class="pull-right">
                    <a data-href="edit_profile_link" class="btn btn-danger edit-current-profile">Edit Profile</a>&nbsp;<a data-href="mark_pending_link" class="btn btn-warning connection-requestion-mark-pending">Make pending</a>

                </div>
                <h4><span data-content="user_info"></span> (<span data-content="matches" data-format="SpanDelimiter"></span>)</h4>
                <p class="interests">Matching interests: <span data-content="interests"></span></p>
                <p data-content="about"></p>
            </div>
            <div class="col-md-2 choice">
                <p><strong>Choose candidate</strong></p>
                <input type="radio" name="id" class="matched-users" data-value="user_id" />
            </div>
        </div>
    </script>

    <script>
        var user_id     = {{ user.id }};
        var firstItem   = 0;

        $(document).ajaxStart(function(){
            $('body').block({
                message: '<strong>Loading...</strong>'
            });
        });

        $(document).ajaxStop(function(){
            $('body').unblock();
        });

        $(document).ready(function(){
            $.addTemplateFormatter({
                SpanMatches : function(value, template) {
                    var values  = [];

                    $.each(value, function(k, match) {
                        values.push('<span class="matches">'+match+'</span>');
                    });

                    return values.join(', ');
                },
                SpanDelimiter : function(value, template) {
                    return value.join(', ');
                }
            });

            $('.btn-search').click(function(e){
                e.preventDefault();

                $(".match-results-container").empty();
                $('.btn-show-more').addClass('disabled', 'disabled');
                $('#btn-approve-send-emails').addClass('disabled', 'disabled');

                showMoreResults($(this).data('current-user'), $(this).closest('form').serialize(), 1);
            });

            $('.btn-show-more').click(function(e){
                e.preventDefault();

                showMoreResults($(this).data('current-user'), $('#filter-form').serialize(), $(this).data('next-page'));
            });

            $('body').on('click', '.edit-current-profile', function(e){
                e.preventDefault();
                var $this = $(this);
                $('#userEditModal').removeClass('current');

                $.get($this.attr('href'), function (html){
                    if ($this.hasClass('current')) {
                        $('#userEditModal').addClass('current');
                    }

                    $('#userEditModal .modal-content').html(html);
                    $('#userEditModal').modal('show');
                });
            });

            $('body').on('click', '.btn-save-profile', function(e){
                e.preventDefault();
                var $this = $(this);
                var $form = $this.closest('form');

                $.post($form.attr('action'), $form.serialize(), function (resp){
                    if (resp.success) {
                        $('#userEditModal').modal('hide');
                        if ($('#userEditModal').hasClass('current')) {
                            for (var prop in resp.user) {
                                $('#'+prop).html(resp.user[prop]);
                            }
                        } else {
                            $('.btn-search').trigger('click');
                        }
                    }
                });
            });

            $('body').on('click', '.connection-requestion-mark-pending', function(e){
                e.preventDefault();
                var $this = $(this);

                $.get($this.attr('href'), function(resp) {
                    if (resp.success) {
                        if ($this.hasClass('go-back')) {
                            window.location = '{{ path('admin_start2') }}';
                        } else {
                            $('.btn-search').trigger('click');
                        }
                    }
                });
            });

            $('.match-results-container').on('click', '.matched-users', function(){
                var match_user_id = $(this).val();

                $.get(Routing.generate('admin_ajax_email_message', {id: user_id, match_user_id: match_user_id}), function (resp){

                    $('#match_email_to_user').val(resp.user_message);
                    $('#match_email_to_match_user').val(resp.match_user_message);

                    $('#match_match_user_id').val(match_user_id);
                    $('#btn-approve-send-emails').removeClass('disabled');
                });
            });

            $('#btn-approve-send-emails').click(function(e){
                e.preventDefault();
                $('#requests-email').submit();
            });

            var showMoreResults = function(id, data, page)
            {
                $.post(Routing.generate('admin_match_results', {id: id, page: page}), data, function(resp){
                    if (resp.success) {
                        firstItem = 0;

                        if (resp.next) {
                            $('.btn-show-more').data('next-page', resp.next);
                            $('.btn-show-more').removeClass('disabled');
                        } else {
                            $('.btn-show-more').addClass('disabled', 'disabled');
                        }

                        $.each(resp.results, function(k, item) {
                            if (firstItem == 0) {
                                firstItem = item.ele;
                            }

                            $(".match-results-container").loadTemplate($("#template"), item, {append: true});
                        });

                        if (firstItem != 0) {
                            $('html, body').animate({
                                scrollTop: $('#'+firstItem).offset().top
                            }, 1000);
                        }
                    }
                });
            }

            $('.btn-search').trigger('click');
        });
    </script>
{% endblock %}