{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-page">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Personuppgifter</h2>
                    {{ include(':user:form.html.twig') }}

                    <div class="form-group">
                        <button
                                type="submit"
                                class="btn btn-orange"
                                {% if not user.enabled %}disabled="disabled"{% endif %}
                        >Spara</button>
                        {% if user.enabled %}
                            <a href="#" id="delete">Ta bort</a>
                        {% endif %}
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-lg-6">
                    {% if connectionRequestForm %}
                        <h2>Kompisförfrågan</h2>
                        <p>
                            Skapad {{ connectionRequestForm.vars.data.createdAt|date('Y-m-d H:i:s') }}
                        </p>
                        {{ form_start(connectionRequestForm) }}

                        <div class="form-group">
                            {{ form_label(connectionRequestForm.type) }}
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ form_widget(connectionRequestForm.type) }}
                                </div>
                            </div>
                            {{ form_errors(connectionRequestForm.type) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(connectionRequestForm.city) }}
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ form_widget(connectionRequestForm.city) }}
                                </div>
                            </div>
                            {{ form_errors(connectionRequestForm.city) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(connectionRequestForm.municipality) }}
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ form_widget(connectionRequestForm.municipality) }}
                                </div>
                            </div>
                            {{ form_errors(connectionRequestForm.municipality) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(connectionRequestForm.matchingProfileRequestType) }}
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ form_widget(connectionRequestForm.matchingProfileRequestType) }}
                                </div>
                            </div>
                            {{ form_errors(connectionRequestForm.matchingProfileRequestType) }}
                        </div>

                        {{ form_widget(connectionRequestForm) }}
                        <button type="submit" class="btn btn-orange">Spara kompisförfrågan</button>
                        <button class="btn btn-danger" id="delete-connection-request" data-connection-request-id="{{ connectionRequestForm.vars.value.id }}">Ta bort</button>
                        {{ form_end(connectionRequestForm) }}
                    {% endif %}

                    <h2>Kompisförfrågningar</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Skapad</th>
                                <th>Status</th>
                                <th>Pending</th>
                                <th>Inspected</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for connectionRequest in user.connectionRequests %}
                                <tr>
                                    <td>{{ connectionRequest.createdAt|date('Y-m-d H:i') }}</td>
                                    <td>{{ connectionRequest.connection ? '' : 'Öppen' }}</td>
                                    <td>{{ connectionRequest.pending ? 'Nej' : 'Ja' }}</td>
                                    <td>{{ connectionRequest.inspected ? 'Nej' : 'Ja' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <h2>Kopplingar</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Skapad</th>
                                <th>Typ</th>
                                <th>Lärare</th>
                                <th>Övare</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for connection in user.connections %}
                                <tr>
                                    <td>{{ connection.createdAt|date('Y-m-d H:i') }}</td>
                                    <td>{{ connection.type }}</td>
                                    <td>{{ connection.fluentSpeaker.name }}</td>
                                    <td>{{ connection.learner.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('#delete').click(function (e) {
                e.preventDefault();
                if (confirm('Vill du verkligen ta bort användaren?')) {
                    $.ajax({
                        url: '{{ path('admin_user_delete', {'id': user.id}) }}',
                        type: 'DELETE',
                        success: function () {
                            location.href='{{ path('admin_start') }}';
                        }
                    });

                }
            });
            $('#delete-connection-request').click(function (e) {
                e.preventDefault();
                var connectionRequestId = $(this).data('connection-request-id');
                if (confirm('Vill du verkligen ta bort denne connection request?')) {
                    $.ajax({
                        url: Routing.generate('admin_delete_connectionrequest', {id: connectionRequestId}),
                        type: 'DELETE',
                        success: function () {
                            location.href='{{ path('admin_start') }}';
                        }
                    });
                }
            });
        });

        {{ include(':user:form.js.twig') }}

    </script>

{% endblock %}
