{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% if connectionRequestForm %}
    {% form_theme connectionRequestForm 'bootstrap_3_horizontal_layout.html.twig' %}
{% endif %}

{% block body %}
    <div class="inner-page">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    {{ include(':user:form.html.twig') }}

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button
                                    type="submit"
                                    class="btn btn-default"
                                    {% if not user.enabled %}disabled="disabled"{% endif %}
                            >Spara</button>
                            {% if user.enabled %}
                                <a href="#" id="delete">Ta bort</a>
                            {% endif %}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-lg-6">
                    {% if connectionRequestForm %}
                        {{ form_start(connectionRequestForm) }}

                        <div class="form-group">
                            {{ form_label(connectionRequestForm.type) }}
                            <div class="col-sm-4">
                                {{ form_widget(connectionRequestForm.type) }}
                                {{ form_errors(connectionRequestForm.type) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(connectionRequestForm.city) }}
                            <div class="col-sm-4">
                                {{ form_widget(connectionRequestForm.city) }}
                                {{ form_errors(connectionRequestForm.city) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(connectionRequestForm.municipality) }}
                            <div class="col-sm-4">
                                {{ form_widget(connectionRequestForm.municipality) }}
                                {{ form_errors(connectionRequestForm.municipality) }}
                            </div>
                        </div>

                        {{ form_widget(connectionRequestForm) }}
                        <button type="submit" class="btn btn-default">Save connection request</button>
                        <button class="btn btn-danger" id="delete-connection-request" data-connection-request-id="{{ connectionRequestForm.vars.value.id }}">Ta bort</button>
                        {{ form_end(connectionRequestForm) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('#delete').click(function (e) {
                e.preventDefault();
                if (confirm('Vill du verkligen ta bort användaren?')) {
                    $.ajax({
                        url: '{{ path('admin_user_delete', {'id': user.id}) }}',
                        type: 'DELETE',
                        success: function () {
                            location.href='{{ path('admin_start') }}';
                        }
                    });

                }
            });
            $('#delete-connection-request').click(function (e) {
                e.preventDefault();
                var connectionRequestId = $(this).data('connection-request-id');
                if (confirm('Vill du verkligen ta bort denne connection request?')) {
                    $.ajax({
                        url: Routing.generate('admin_delete_connectionrequest', {id: connectionRequestId}),
                        type: 'DELETE',
                        success: function () {
                            location.href='{{ path('admin_start') }}';
                        }
                    });
                }
            });
        });

        {{ include(':user:form.js.twig') }}

    </script>

{% endblock %}
